{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    <!-- Load c3.css -->
    <link href="{% static "/c3js/c3.min.css" %}" rel="stylesheet">
    <!-- Load d3.js and c3.js -->
    <script src="{% static "/c3js/d3.v5.min.js" %}" charset="utf-8"></script>
    <script src="{% static "/c3js/c3.min.js" %}"></script>

    <script>
        const tenant_count = [{{ tenant_count }}];
        const axis = {
            x: {
                type: 'timeseries',
                localtime: true,
                tick: {
                    format: '%Y-%m-%d'
                }
            },
            y: {
                padding: {
                    bottom: 2
                }
            },
        };
        const tooltip_creator = (total_array, is_relative) => {
            return {
                format: {
                    title: function (d, e) {
                        return d.toLocaleDateString("de-DE") + "  Total: " + total_array[e];
                    },
                    value: function (value, ratio, id, i) {
                        if (is_relative()) {
                            return `${value.toFixed(1)} %`;
                        }
                        const total = total_array[i];
                        const min = (value / total * 100).toFixed(0);
                        return value + ` (${min}%)`;
                    }
                }
            };
        };
    </script>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex justify-content-center pb-1">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="sex-area-group" id="sex-absolute" checked>
                    <label for="sex-absolute" class="btn btn-sm btn-primary">Absolute</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="sex-area-group" id="sex-relative">
                    <label for="sex-relative" class="btn btn-sm btn-primary">Relative</label>
                </div>

                <div class="btn-group ms-3">
                    <input class="btn-check" type="radio" name="sex-grouped"
                           id="sex-grouped-yes" checked>
                    <label for="sex-grouped-yes"
                           class="btn btn-sm btn-primary">Grouped</label>

                    <input class="btn-check" type="radio" name="sex-grouped"
                           id="sex-grouped-no">
                    <label for="sex-grouped-no" class="btn btn-sm btn-primary">Not
                        Grouped</label>
                </div>
            </div>
            <div id="sexChart"></div>
            <script>
                function create_relative_columns(columns, sum_values) {
                    let relative_columns = [columns[0]];
                    for (let entry of columns.slice(1)) {
                        relative_columns.push([entry[0], ...entry.slice(1).map((value, index) => (value / sum_values[index] * 100).toFixed(1))]);
                    }
                    return relative_columns;
                }

                const sex_unknown_count = [{{ sex_unknown_count }}];
                const sex_columns = [
                    ['x', '{{ dates }}'],
                    ['Female', {{ female_count }}],
                    ['Male', {{ male_count }}],
                    ['Divers', {{ divers_count }}],
                    ['Sex Unknown', {{ sex_unknown_count }}],
                ];
                const sex_relative_columns = create_relative_columns(sex_columns, tenant_count);
                let sex_is_relative = false;
                const sexChart = c3.generate({
                    bindto: '#sexChart',
                    title: {
                        text: 'Genders'
                    },
                    data: {
                        x: 'x',
                        columns: sex_columns,
                        type: 'area',
                        groups: [['Female', 'Male', 'Divers', 'Sex Unknown']]
                    },
                    axis,
                    tooltip: {
                        format: {
                            title: function (d, e) {
                                return d.toLocaleDateString("de-DE") + "  Total: " + tenant_count[e];
                            },
                            value: function (value, ratio, id, i) {
                                if (sex_is_relative) {
                                    return `${value.toFixed(1)} %`;
                                }
                                const total = tenant_count[i];
                                const min = (value / total * 100).toFixed(0);
                                if (id === "Female" || id === "Male") {
                                    const max = ((value + sex_unknown_count[i]) / total * 100).toFixed(0);
                                    return value + ` (${min}% - ${max}%)`;
                                }
                                return value + ` (${min}%)`;
                            }
                        }
                    }
                });
                $('#sex-grouped-yes').click(() => sexChart.groups([['Female', 'Male', 'Divers', 'Sex Unknown']]))
                $('#sex-grouped-no').click(() => sexChart.groups([]))
                $('#sex-relative').click(() => {
                    sex_is_relative = true;
                    sexChart.load({columns: sex_relative_columns});
                });
                $('#sex-absolute').click(() => {
                    sex_is_relative = false;
                    sexChart.load({columns: sex_columns});
                });
            </script>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-center pb-1">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="tenant-type-bar" id="tenant-type-absolute" checked>
                    <label for="tenant-type-absolute"
                           class="btn btn-sm btn-primary">Absolute</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="tenant-type-bar" id="tenant-type-relative">
                    <label for="tenant-type-relative"
                           class="btn btn-sm btn-primary">Relative</label>
                </div>

                <div class="btn-group ms-3" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="tenant-type-grouped" id="tenant-type-grouped-yes"
                           checked>
                    <label for="tenant-type-grouped-yes" class="btn btn-sm btn-primary">Grouped</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="tenant-type-grouped" id="tenant-type-grouped-no">
                    <label for="tenant-type-grouped-no" class="btn btn-sm btn-primary">Not
                        Grouped</label>
                </div>
            </div>
            <div id="tenantTypeChart"></div>
            <script>
                const tenant_type_columns = [
                    ['x', '{{ dates }}'],
                    ['Normal', {{ normal_tenants }}],
                    ['Sub Tenants', {{ subnormal_tenants }}],
                    ['International', {{ international_tenants }}],
                ];
                const tenant_type_relative_columns = create_relative_columns(tenant_type_columns, tenant_count);
                let tenant_type_is_relative = false;
                const tenantTypeChart = c3.generate({
                    bindto: '#tenantTypeChart',
                    title: {
                        text: 'Tenant Types'
                    },
                    data: {
                        x: 'x',
                        columns: tenant_type_columns,
                        type: 'area',
                        groups: [['Normal', 'Sub Tenants', 'International',]]
                    },
                    axis,
                    tooltip: tooltip_creator(tenant_count, () => tenant_type_is_relative),
                });
                $('#tenant-type-grouped-yes').click(() => tenantTypeChart.groups([['Normal', 'Sub Tenants', 'International']]))
                $('#tenant-type-grouped-no').click(() => tenantTypeChart.groups([]))
                $('#tenant-type-relative').click(() => {
                    tenant_type_is_relative = true;
                    tenantTypeChart.load({columns: tenant_type_relative_columns})
                })
                $('#tenant-type-absolute').click(() => {
                    tenant_type_is_relative = false;
                    tenantTypeChart.load({columns: tenant_type_columns})
                })
            </script>
        </div>
    </div>


    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-center pb-1">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="general-bar" id="general-absolute" checked>
                    <label for="general-absolute"
                           class="btn btn-sm btn-primary">Absolute</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="general-bar" id="general-relative">
                    <label for="general-relative"
                           class="btn btn-sm btn-primary">Relative</label>
                </div>
            </div>
            <div id="generalChart"></div>
            <script>
                const general_columns = [
                    ['x', '{{ dates }}'],
                    ['Active Tenants', {{ active_tenants }}],
                    ['Tenants in the Association', {{ tenant_members }}],
                ];
                const general_relative_columns = create_relative_columns(general_columns, tenant_count);
                let general_is_relative = false;
                const generalChart = c3.generate({
                    bindto: '#generalChart',
                    title: {
                        text: 'Association Memberships'
                    },
                    data: {
                        x: 'x',
                        columns: general_columns,
                        type: 'area',
                    },
                    axis,
                    tooltip: tooltip_creator(tenant_count, () => general_is_relative),
                });
                $('#general-relative').click(() => {
                    general_is_relative = true;
                    generalChart.load({columns: general_relative_columns})
                });
                $('#general-absolute').click(() => {
                    general_is_relative = false;
                    generalChart.load({columns: general_columns})
                })
            </script>
        </div>
    </div>

    {% comment %}
    {% if network_balance %}
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="d-flex justify-content-center pb-1">
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" autocomplete="off"
                               name="finances-bar" id="finances-area" checked>
                        <label for="finances-area"
                               class="btn btn-sm btn-primary">Area</label>

                        <input type="radio" class="btn-check" autocomplete="off"
                               name="finances-bar" id="finances-bar">
                        <label for="finances-bar"
                               class="btn btn-sm btn-primary">Bars</label>
                    </div>
                </div>
                <div id="financesChart"></div>
                <script>
                    const financesChart = c3.generate({
                        bindto: '#financesChart',
                        title: {
                            text: 'Old Finances'
                        },
                        data: {
                            x: 'x',
                            columns: [
                                ['x', '{{ dates }}'],
                                ['House Balance', {{ house_balance }}],
                                ['House with Receivables', {{ house_with_receivables }}],
                                ['Network Balance', {{ network_balance }}],
                                ['Network with Receivables', {{ network_with_receivables }}],
                            ],
                            type: 'area',
                        },
                        axis,
                        tooltip: {
                            format: {
                                value: function (value) {
                                    return value.toLocaleString("de-DE", {minimumFractionDigits: 2}) + " €";
                                }
                            }
                        },
                    });
                    $('#finances-area').click(() => financesChart.transform('area'))
                    $('#finances-bar').click(() => financesChart.transform('bar'))
                </script>
            </div>
        </div>
    {% endif %}
    {% endcomment %}

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-center pb-1">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="german-bar" id="german-absolute" checked>
                    <label for="german-absolute"
                           class="btn btn-sm btn-primary">Absolute</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="german-bar" id="german-relative">
                    <label for="german-relative"
                           class="btn btn-sm btn-primary">Relative</label>
                </div>

                <div class="btn-group ms-3" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="german-grouped" id="german-grouped-yes" checked>
                    <label for="german-grouped-yes"
                           class="btn btn-sm btn-primary">Grouped</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="german-grouped" id="german-grouped-no">
                    <label for="german-grouped-no"
                           class="btn btn-sm btn-primary">Not Grouped</label>
                </div>
            </div>
            <div id="germanChart"></div>
            <script>
                const german_columns = [
                    ['x', '{{ dates }}'],
                    ['German', {{ german_tenants }}],
                    ['Non German', {{ non_german_tenants }}],
                ];
                const german_relative_columns = create_relative_columns(german_columns, tenant_count);
                let german_is_relative = false;
                const germanChart = c3.generate({
                    bindto: '#germanChart',
                    title: {
                        text: 'Mother Languages'
                    },
                    data: {
                        x: 'x',
                        columns: german_columns,
                        type: 'area',
                        groups: [['German', 'Non German']]
                    },
                    axis,
                    tooltip: tooltip_creator(tenant_count, () => german_is_relative),
                });
                $('#german-grouped-yes').click(() => germanChart.groups([['German', 'Non German']]))
                $('#german-grouped-no').click(() => germanChart.groups([]))
                $('#german-relative').click(() => {
                    german_is_relative = true;
                    germanChart.load({columns: german_relative_columns});
                })
                $('#german-absolute').click(() => {
                    german_is_relative = false;
                    germanChart.load({columns: german_columns});
                })
            </script>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex justify-content-center pb-1">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="member-bar" id="member-absolute" checked>
                    <label for="member-absolute"
                           class="btn btn-sm btn-primary">Absolute</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="member-bar" id="member-relative">
                    <label for="member-relative"
                           class="btn btn-sm btn-primary">Relative</label>
                </div>

                <div class="btn-group ms-3" role="group">
                    <input type="radio" class="btn-check" autocomplete="off"
                           name="member-grouped" id="member-grouped-yes" checked>
                    <label for="member-grouped-yes"
                           class="btn btn-sm btn-primary">Grouped</label>

                    <input type="radio" class="btn-check" autocomplete="off"
                           name="member-grouped" id="member-grouped-no">
                    <label for="member-grouped-no"
                           class="btn btn-sm btn-primary">Not Grouped</label>
                </div>
            </div>
            <div id="memberChart"></div>
            <p class="text-center ms-5 me-2" style="font: 12px sans-serif;">
                Unknown Members: In the past, we did not log the old membership type when
                changes to the membership
                type were made, so we now don't what what the membership type was in the
                past for some members, but
                they were probaly normal members. We have started tracking of membership
                type changes in 2020.
            </p>
            <script>
                const member_columns = [
                    ['x', '{{ dates }}'],
                    // custom order because the lines are rendered from top to bottom
                    ['unknown', {{ unknown_members }}],
                    ['sponsoring', {{ sponsoring_members }}],
                    ['limited', {{ limited_members }}],
                    ['honorary', {{ honorary_members }}],
                    ['normal', {{ normal_members }}],
                ];
                const total_members = [{{ total_members }}];
                const member_relative_columns = create_relative_columns(member_columns, total_members);
                let members_is_relative = false;
                const member_tooltip = tooltip_creator(total_members, () => members_is_relative);
                const memberChart = c3.generate({
                    bindto: '#memberChart',
                    title: {
                        text: 'Membership Types'
                    },
                    data: {
                        x: 'x',
                        columns: member_columns,
                        names: {
                            unknown: 'Unknown Members',
                            normal: 'Normal Members',
                            limited: 'Limited Members',
                            honorary: 'Honorary Members',
                            sponsoring: 'Sponsoring Members',
                        },
                        colors: {
                            // default colors, but in a different order
                            unknown: 'rgb(148, 103, 189)',
                            normal: 'rgb(31, 119, 180)',
                            limited: 'rgb(255, 127, 14)',
                            honorary: 'rgb(44, 160, 44)',
                            sponsoring: 'rgb(214, 39, 40)',
                        },
                        type: 'area',
                        groups: [['normal', 'limited', 'honorary', 'sponsoring', 'unknown']],
                        order: (left, right) => {
                            const dataOrder = ['normal', 'unknown', 'limited', 'sponsoring', 'honorary']
                            return dataOrder.indexOf(left.id) < dataOrder.indexOf(right.id) ? 1 : -1
                        }
                    },
                    axis,
                    tooltip: member_tooltip,
                });
                $('#member-grouped-yes').click(() => memberChart.groups([['normal', 'limited', 'honorary', 'sponsoring', 'unknown']]))
                $('#member-grouped-no').click(() => memberChart.groups([]))
                $('#member-relative').click(() => {
                    members_is_relative = true;
                    memberChart.load({columns: member_relative_columns});
                })
                $('#member-absolute').click(() => {
                    members_is_relative = false;
                    memberChart.load({columns: member_columns});
                })
            </script>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <div id="moveInMonthBars"></div>
            <script>
                const moveInMonthBars = c3.generate({
                    bindto: '#moveInMonthBars',
                    title: {
                        text: 'Move in Month'
                    },
                    data: {
                        columns: [
                            ['y', {{ move_in_month }}]
                        ],
                        names: {
                            y: 'people moved in',
                        },
                        type: 'bar'
                    },
                    axis: {
                        x: {
                            type: 'category',
                            categories: ['{{ months }}']
                        }
                    },
                    bar: {
                        width: {
                            ratio: 0.5 // this makes bar width 50% of length between ticks
                        }
                    }
                });
            </script>
        </div>
    </div>

{% endblock %}
