{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    <!-- The pkgd version has packaged d3.js -->
    <script crossorigin="anonymous" src="{% static "billboardjs/billboard.pkgd.min.js" %}"></script>
    <link href="{% static "billboardjs/billboard.min.css" %}" rel="stylesheet">


    <div class="row">
        <div class="col-12">
            <div id="stackedBarChart_0__6767zuhj"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div id="stackedBarChart_house"></div>
        </div>
        <div class="col-md-4">
            <div id="stackedBarChart_network"></div>
        </div>
        <div class="col-md-4">
            <div id="stackedBarChart_symposion"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <div style="margin-right: auto;width: 31%"></div>
            <h5 id="h5-date" style="flex: 1; text-align: center;"></h5>
            <div style="margin-left: auto;">
                <label for="select" class="pr-1">Since: </label>
                <select onchange="on_select(event)" id="select" autocomplete="off">
                    <option selected value>--</option>
                    {% for event in events %}
                        <option value="{{ event.time.date|date:'Y-m-d' }}">{{ event }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-12 text-center" id="eur_text" title="Real income from paid fees from our members">TEST</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="stackedBarChart_sum"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="account" id="btnradio1" value="all" autocomplete="off"
                       checked>
                <label class="btn btn-outline-primary" for="btnradio1">All Accounts</label>

                <input type="radio" class="btn-check" name="account" id="btnradio2" value="house" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">House</label>

                <input type="radio" class="btn-check" name="account" id="btnradio3" value="network" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Network</label>

                <input type="radio" class="btn-check" name="account" id="btnradio4" value="symposion"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4">Symposion</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="pie_chart_in"></div>
        </div>
        <div class="col-md-8">
            <div id="income-tx">
                <table class="table table-borderless" style="font-family:monospace;">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-right col-amount">Amount</th>
                        <th scope="col" class="expand-col">Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="transaction in transactions">
                        <td class="text-muted text-right">[[ transaction.transaction__date ]]</td>
                        <td class="text-success text-right">[[ transaction.amount ]]</td>
                        <td><a class="text-link"
                               :href="`/admin/finances_v2/transaction/${transaction.transaction__id}/change`">
                            [[ transaction.transaction__note ]] [[ transaction.note ]]</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="pt-0">
                            <a class="btn btn-sm btn-primary w-100" id="more-in">More</a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="pie_chart_out"></div>
        </div>
        <div class="col-md-8">
            <div id="outcome-tx">
                <table class="table table-borderless" style="font-family:monospace;">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" class="text-right col-amount">Amount</th>
                        <th scope="col" class="expand-col">Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="transaction in transactions">
                        <td class="text-muted text-right">[[ transaction.transaction__date ]]</td>
                        <td class="text-danger text-right">[[ transaction.amount ]]</td>
                        <td><a class="text-link"
                               :href="`/admin/finances_v2/transaction/${transaction.transaction__id}/change`">
                            [[ transaction.transaction__note ]] [[ transaction.note ]]</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="pt-0">
                            <a class="btn btn-sm btn-primary w-100" id="more-out">More</a>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <style>
        /*.bb-chart-arc text {
            fill: black;
            /* font-size: 15px;
            /* font-weight: bold;
        }*/
        .bb-chart-arc ._selected_ {
            transform: scale(1.05);
            filter: brightness(1.5) !important;
        }

        .expand-col {
            width: 100%;
        }

        .table {
            width: 100%;
            white-space: nowrap;
        }

        .col-amount {
            min-width: 6em;
        }

        .text-link {
            color: inherit;
            text-decoration: inherit;
        }

        .text-link:hover {
            color: blue;
            text-decoration: underline;
        }

    </style>
    <script async>
        const format_money = value => value.toLocaleString("de-DE", {minimumFractionDigits: 2}) + " €";
        const format_date = date => `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`
        const common_options = {}

        const on_zoom_changed = (zoom_range, {reset_select = true, add_history = true} = {}) => {
            if (zoom_range.length !== 2){
                throw new Error(`The first parameter must be an array with two parameters but was ${zoom_range}`)
            }
            const x = zoom_range.map(s => new Date(s));
            const account = document.querySelector('input[name="account"]:checked').value;
            if (add_history) {
                const state = {zoom: x, account};
                history.pushState(state, "", `/finances/dashboard?account=${account}&from=${format_date(x[0])}&to=${format_date(x[1])}`);
            }
            document.getElementById("h5-date").innerText = `${format_date(x[0])} - ${format_date(x[1])}`

            fetch(`/finances/pie_chart?from=${format_date(x[0])}&to=${format_date(x[1])}&account=${account}`,).then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                response.json().then(json => {
                    document.getElementById("eur_text").innerHTML = `Real income from paid House Fees: ${format_money(json.house_fees_income)} &nbsp;&nbsp;&nbsp; Real income from paid Network Fees: ${format_money(json.network_fees_income)}`
                    for (let type of ["in", "out"]) {
                        const data = json[type];
                        setTxData(data.tx, type, data.more, true);
                        pie_chart[type].load({
                            columns: data.values.map(e => [e.type__name || "Sonstiges", Math.abs(e.balance)]),
                            unload: true,
                            resizeAfter: true,
                            done: () => update_pie_chart_title(type),
                        });
                    }
                });
            })
            if (reset_select) {
                document.getElementById("select").value = ""
            }
        }
        update_zoom = (from, to) => {
            const range_start = format_date(zoomRange[0]);
            const start_date = from < range_start ? range_start : from;
            const range_end = format_date(zoomRange[1]);
            const end_date = to > range_end ? range_end : to;
            finances.zoom([start_date, end_date])
            on_zoom_changed([start_date, end_date])
        }
        {% for entry in data %}
            bb.generate({
                data: {
                    json: {{ entry.1 }},
                    keys: {
                        x: "year",
                        value: {{ entry.2 }},
                    },
                    type: "bar",
                    groups: [
                        {{ entry.2 }}
                    ],
                    names: {{ entry.4 }},
                    onclick: function (d, element) {
                        // d - ex) {x: 4, value: 150, id: "data1", index: 4, name: "data1"}
                        // element - <circle>
                        document.querySelector(`input[name="account"][value="{{ entry.0 }}"]`).checked = true;
                        update_zoom(`${d.x}-01-01`, `${d.x}-12-31`)
                    }
                },
                tooltip: {
                    grouped: false,
                    format: {
                        value: format_money,
                        title: x => x + ": " + format_money({{ entry.3 }}[x]),
                    },
                },
                legend: {
                    item: {
                        interaction: {
                            dblclick: true
                        }
                    }
                },
                grid: {
                    y: {
                        lines: [
                            {
                                value: 0
                            }
                        ]
                    }
                },
                title: {
                    text: "{{ entry.0|capfirst }}"
                },
                bindto: "#stackedBarChart_{{ entry.0 }}"
            });
        {% endfor %}

        let finances = bb.generate({
            data: {
                json: {{ sums }},
                keys: {
                    x: "date",
                    value: ["ek_net", "net_without_receiv", "ek_house", "house_without_receiv", "ek_symposion"],
                },
                names: {
                    ek_net: "NetzAG Vermögen + offenen Forderungen",
                    net_without_receiv: "NetzAG Vermögen",
                    ek_house: "Haus Vermögen + offenen Forderungen",
                    house_without_receiv: "Haus Vermögen",
                    ek_symposion: "Symposion Vermögen",
                },
                groups: [
                    //   ["ek_net", "net_without_receiv"]
                ],
                tooltip: {
                    order: null,
                },
                type: "line",

            },
            grid: {
                y: {
                    lines: [
                        {
                            value: 0
                        }
                    ]
                }
            },
            zoom: {
                enabled: true,
                rescale: true,
                type: "drag",
                onzoomend: x => {
                    on_zoom_changed(x)
                },
                resetButton: {
                    onclick: () => setTimeout(() => on_zoom_changed(finances.zoom()), 10),
                },
            },
            transition: {
                duration: 150
            },
            axis: {
                x: {
                    type: "timeseries",
                    tick: {
                        format: "%Y-%m-%d"
                    },
                }
            },
            tooltip: {
                format: {
                    value: format_money,
                },
            },
            bindto: "#stackedBarChart_sum"
        });
        const zoomRange = finances.zoom();

        let timeoutID = null
        const pie_chart = {};
        for (let type of ["in", "out"]) {
            pie_chart[type] = bb.generate({
                data: {
                    columns: [],
                    type: "pie",
                    onselected: function (d, element) {
                        clearTimeout(timeoutID)
                        // d - ex) {x: 4, value: 150, id: "data1", index: 4, name: "data1"}
                        // element - <circle>
                        const x = history.state.zoom;
                        const account = document.querySelector('input[name="account"]:checked').value;
                        fetch(`/finances/transactions?from=${format_date(x[0])}&to=${format_date(x[1])}&account=${account}&direction=${type}&type=${d.name}`,).then((response) => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! Status: ${response.status}`);
                            }
                            response.json().then(json => {
                                setTxData(json.tx, type, json.more)
                            });
                        })
                    },
                    onunselected: function (d, element) {
                        // onunselected is called even if another pie is selected. We don't want to display the general
                        // list for a few milliseconds => Delay with 30 ms timeout and clear the timeout in onselected
                        timeoutID = setTimeout(() => restoreTxData(type), 30);
                    },
                    selection: {
                        enabled: true,
                        multiple: false,
                    },
                    onshown: () => update_pie_chart_title(type),
                    onhidden: () => update_pie_chart_title(type),
                },
                bindto: "#pie_chart_" + type,
                title: {
                    text: type === "in" ? "Income" : "Expenses"
                },
                pie: {
                    label: {
                        format: (value, ratio, id) => format_money(value) + "\n" + id,
                        ratio: 1.2
                    },
                },
                tooltip: {
                    format: {
                        value: format_money,
                    },
                },
                transition: {
                    duration: 0
                }
            });
        }
        const update_pie_chart_title = (type) => {
            const prefix = type === "in" ? "Income " : "Expenses ";
            const sum = pie_chart[type].data.shown().reduce((sum, entry) => sum + entry.values[0].value, 0);
            pie_chart[type].$.title.select('text').text(prefix + format_money(sum));
        }

        $('input[type="radio"][name="account"]').on('change', function (x) {
            on_zoom_changed(history.state.zoom, {reset_select: false})
        })

        addEventListener("popstate", (event) => {
            finances.zoom(event.state.zoom)
            document.querySelector(`input[name="account"][value="${event.state.account}"]`).checked = true;
            on_zoom_changed(event.state.zoom, {reset_select: true, add_history: false})
        });

        function on_select(event) {
            if (event.target.value === "") {
                finances.unzoom()
                on_zoom_changed(finances.zoom(), {reset_select: false})
            } else {
                finances.zoom([event.target.value, zoomRange[1]])
                on_zoom_changed([event.target.value, zoomRange[1]], {reset_select: false})
            }
        }

        const tooltip_creator = total_array => {
            return {
                format: {
                    title: function (d, e) {
                        return d.toLocaleDateString("de-DE") + "  Total: " + total_array[e];
                    },
                    value: function (value, ratio, id, i) {
                        const total = total_array[i];
                        const min = (value / total * 100).toFixed(0);
                        return value + ` (${min}%)`;
                    }
                }
            };
        };
        {
            let params = new URLSearchParams(window.location.search);
            if (params.has("account")) {
                document.querySelector(`input[name="account"][value="${params.get('account')}"]`).checked = true;
            }
            const account = document.querySelector('input[name="account"]:checked').value;
            let zoom_range = finances.zoom();
            if (params.has("from") && params.has("to")) {
                zoom_range = [params.get("from"), params.get("to")].map(s => new Date(s));
                finances.zoom(zoom_range)
            }
            on_zoom_changed(zoom_range, {reset_select: true, add_history: false});
            history.replaceState({zoom: zoom_range, account}, "");
        }


    </script>
    <script src="https://unpkg.com/vue@3.3"></script>
    <script>
        let tx_data = {}
        let tx_backup_data = {}
        const IncomeTransactions = {
            compilerOptions: {
                // Because { {  } } is already used by django
                delimiters: ["[[", "]]"]
            },
            data() {
                return {
                    transactions: []
                }
            },
            mounted() {
                tx_data['in'] = this.transactions
            },
        }

        function setTxData(tx, type, more_link = null, backup = false) {
            const data = tx_data[type];
            data.length = 0;
            data.push.apply(data, tx);
            const elem = document.getElementById("more-" + type)
            elem.style.display = tx.length === 6 ? "block" : "none"
            elem.href = more_link
            if (more_link !== null) {
                elem.classList.remove("disabled")
                elem.title = ""
            } else {
                elem.classList.add("disabled")
                elem.title = "You have to select an account to see more transactions"
            }
            if (backup) {
                tx_backup_data[type] = {tx, more_link};
            }
        }

        function restoreTxData(type) {
            const data = tx_backup_data[type]
            setTxData(data.tx, type, data.more_link)
        }

        Vue.createApp(IncomeTransactions).mount('#income-tx',);

        const OutcomeTransactions = {
            compilerOptions: {
                // Because { {  } } is already used by django
                delimiters: ["[[", "]]"]
            },
            data() {
                return {
                    transactions: []
                }
            },
            mounted() {
                tx_data['out'] = this.transactions
            },
        }

        Vue.createApp(OutcomeTransactions).mount('#outcome-tx',);

    </script>
{% endblock %}
