.field-used, .column-used, .field-left, .column-left, .field-amount, .column-amount {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.field-used:after, .field-left:after, .field-amount:after {
    content: '€';
    margin-left: 1px;
}