/* From https://stackoverflow.com/a/57116780/10162645 */
th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text > div {
    transform:
        translate(90%, 0px)
        rotate(310deg);
    width: 30px;
}

th.rotated-text > div > span {
    padding: 5px 10px;
}

#changelist table thead th {
    vertical-align: bottom !important;
}

#changelist-form .results {
    overflow-x: unset;
}

thead th {
    background: unset !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

thead tr {
    background: var(--darkened-bg) !important;
    position: sticky;
    top: 0;
}

.right-text {
    text-align: right;
}