{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}



{% block content %}
    <div class="row">
        <div class="col 12">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4">Questions or Issues?</h1>
                    <p class="lead">Below you will find a list containing all contacts
                        categorized in working
                        groups.</p>
                    <hr class="my-4">
                    <p>If you want to help and contribute feel free to send an email
                        to
                        the corresponding email
                        address.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col 12">
            <div id="workinggroups-accordion" class="accordion">
                {{ workinggroup.memberships }}
                {% for workinggroup in workinggroups %}
                    <div class="accordion-item">
                        <div id="heading-{{ workinggroup.id }}"
                             class="accordion-header">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ workinggroup.id }}"
                                    aria-expanded="false"
                                    aria-controls="{{ workinggroup.id }}">
                                {{ workinggroup.name }}
                            </button>
                        </div>
                        <div id="collapse-{{ workinggroup.id }}"
                             class="accordion-collapse collapse"
                             aria-labelledby="heading-{{ workinggroup.id }}"
                             data-bs-parent="#workinggroups-accordion">
                            <div class="accordion-body">
                                {{ workinggroup.description }} <br><br>
                                <span data-feather="mail"></span>&nbsp;{{ workinggroup.email }}
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Type</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Room</th>
                                        <th scope="col">Comment</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for member in workinggroup.memberships %}
                                        <tr>
                                            <th scope="row">{{ member.get_type_display }}</th>
                                            <td>{{ member.person }}</td>
                                            <td>{{ member.room }}</td>
                                            <td>{{ member.comment }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        // automatically open the accordion that is selected by the anchor/hash
        function openAnchorAccordion() {
            if (window.location.hash) {
                const target = $('body').find(window.location.hash);
                const targetAccordion = target.find('.collapse');
                if (targetAccordion) {
                    targetAccordion.collapse('show');
                }
            }
        }

        openAnchorAccordion();
    </script>
{% endblock %}