{% extends "base.html" %}
{% load bootstrap5 %}
{% load markdown_filter %}

{% block content %}
    <div class="row">
        <div class="col 12">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4">Rent Games</h1>
                    <p class="lead">You want to have a nice game night with your friends
                        but
                        you don't have any board
                        games? Don't panic! The K14-AG lends games from now on.
                        Just have a look at the current catalog below, select the games
                        you
                        want and send a request.
                        After a short time period we will contact you with further
                        information.
                    </p>
                    <hr class="my-4">
                    <p>You know a nice game that the K14-AG should buy? Tell us about it
                        and
                        we might buy it.</p>
                    <p class="lead">
                        <a href="/user/email?select=K14&subject=New game suggestion" class="btn btn-primary btn-lg"
                           role="button">Suggest a new game</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% if not accepted_terms %}
        <p>
            Before you can use the game rental, you have to accept the usage terms of the
            K14-AG.
            You can find the full usage terms <a
                href="https://cloud.hilton.rwth-aachen.de/s/4Kx2x2X7883jmSj">here</a>.
            The important parts are listed below:
        <ol>
            <li> Vor und nach dem Verleih muss das Spiel auf Vollständigkeit, gemäß der
                Inventarliste, überprüft
                werden.
            </li>
            <li> Der Verleih von Spielen erfolgt von einem Mitglied der K14-AG an
                Vereinsmitglieder.
            </li>
            <li> Spiele werden nur an Vereinsmitglieder verliehen, die der AG-Ordnung
                zugestimmt haben.
            </li>
            <li> Die K14-AG kann den Verleih an Personen ablehnen, falls diese schon
                einmal negativ aufgefallen
                sind, bereits zu viele Spiele ausgeliehen haben oder noch nicht gezahlte
                Forderungen haben.
            </li>
            <li> Der Verleih ist auf eine maximale Dauer von zwei Wochen beschränkt.
                Außerdem gilt:
                <ul>
                    <li> Spiele können vorzeitig zurückgegeben werden.</li>
                    <li> Sollten die Spiele nicht fristgerecht zurückgegeben werden, fällt
                        eine Strafe in Höhe von
                        5€ pro Woche an, die das Spiel zu spät zurückgebracht wurde.
                    </li>
                    <li> Falls ein Spieleabend geplant ist, behält sich die K14-AG vor,
                        verliehene Spiele am Tag
                        davor frühzeitig zurückzuverlangen.
                    </li>
                </ul>
            </li>
            <li> Wird das Spiel gar nicht oder nicht vollständig zurückgebracht, hat die
                ausleihende Person 14 Tage
                Zeit, Ersatz für alle fehlenden Teile zu beschaffen. Sollte das Spiel nach
                dieser Frist nicht
                vollständig zurückgebracht worden sein, wird das Spiel auf Kosten des
                Ausleihenden neu angeschafft.
                Der Ausleihende kann das unvollständige Spiel in diesem Fall behalten.
            </li>
            <li> Schulden gegenüber der K14-AG werden vom Konto der Person beim Verein
                abgebucht.
            </li>
        </ol>

        <form method="post">
            {% csrf_token %}
            <input type="checkbox" name="accepted" id="accepted" required>
            <label for="accepted">I accept the usage terms of the K14-AG</label><br>
            <button type="submit" class="btn btn-primary mt-1">Submit</button>
        </form>

        </p>
    {% else %}
        <div class="row">
            <div class="col 12" style="min-height: 1800px">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link {% if not was_admin %}active{% endif %}"
                           id="nav-avail-tab"
                           data-bs-toggle="tab" href="#vue-main"
                           role="tab" aria-controls="nav-avail"
                           aria-selected="true">Games</a>
                        <a class="nav-item nav-link" id="nav-history-tab"
                           data-bs-toggle="tab" href="#nav-history"
                           role="tab" aria-controls="nav-history" aria-selected="false">My
                            History</a>
                        {% if is_admin %}
                            <a class="nav-item nav-link {% if was_admin %}active{% endif %}"
                               id="nav-admin-tab"
                               data-bs-toggle="tab" href="#nav-admin"
                               role="tab" aria-controls="nav-admin" aria-selected="false">Admin</a>
                        {% endif %}
                        <a class="nav-item nav-link"
                           href="https://cloud.hilton.rwth-aachen.de/s/4Kx2x2X7883jmSj"
                           target="_blank">Usage Terms</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div id="vue-main"
                         class="tab-pane fade {% if not was_admin %}show active{% endif %}"
                         id="nav-avail"
                         role="tabpanel"
                         aria-labelledby="nav-avail-tab">
                        {% for request in requests %}
                            <div class="card mt-2">
                                <div class="card-header">
                                    {% if request.state == "P" %}
                                        Pending Request:
                                    {% else %}
                                        {{ request.get_state_display }} Rental:
                                    {% endif %}
                                    {{ request.start_date }} - {{ request.end_date }}
                                </div>
                                <div class="card-body">
                                    Rented Games:
                                    {% for game in request.games.all %}
                                        {{ game.name }}{% if not forloop.last %},
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="card mt-2">
                            <div class="card-header">
                                Your Game Rental Request
                            </div>
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="container">
                                        <div class="row mb-3 align-content-center">
                                            <label for="from_date"
                                                   class="col-sm-2 col-form-label text-end">From:</label>
                                            <div class="col-sm-10 ">
                                                <input type="date" class="form-control"
                                                       id="from_date" name="start_date"
                                                       v-model="from"
                                                       :min="new Date().toISOString().substr(0, 10)">
                                            </div>
                                        </div>
                                        <div class="row mb-3 align-content-center">
                                            <label for="until_date"
                                                   class="col-sm-2 col-form-label text-end">Until:</label>
                                            <div class="col-sm-10">
                                                <input type="date" class="form-control"
                                                       id="until_date" name="end_date"
                                                       v-model="until" :min="from"/>
                                                <div class="invalid-feedback"
                                                     style="display: block"
                                                     v-show="untilDateError">
                                                    [[ untilDateError ]]
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 align-top">
                                            <label class="col-sm-2 col-form-label text-end p-0">Selected
                                                Games:</label>
                                            <div class="col-sm-10">
                                                <p class="form-label">
                                                <span v-for="(game, index) in selectedGames">
                                                    <template
                                                            v-if="index !== 0">, </template>
                                                    <span :class="{'text-danger': alreadyUsed(game)}">
                                                        [[ game.name ]]<template
                                                            v-if="alreadyUsed(game)">(Already used)
                                                            <button class="btn btn-primary btn-sm py-0"
                                                                    @click="game.selected = false"
                                                            >Unselect</button></template>

                                                    </span>
                                                </span>
                                                </p>
                                            </div>
                                        </div>

                                        <input type="hidden" name="games"
                                               :value="selectedGamesIds">

                                        <div class="row">
                                            <div class="col-sm-10 offset-sm-2">
                                                <button type="submit"
                                                        :disabled="!canRequest"
                                                        class="btn btn-primary">Request
                                                    Games
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>
                        </div>

                        <div class="container">
                            <div class="row mt-3">
                                <div style="display: flex; flex-direction: row; flex-flow: row wrap; align-items: center;">
                                    <label for="game-search" class="me-2">Search:</label>
                                    <input id="game-search" type="search"
                                           class="form-control"
                                           style="max-width: 12em"
                                           v-model="searchText">

                                    <label class="ms-4 me-2">Category:</label>
                                    <select class="form-select me-sm-2"
                                            style="width: auto;"
                                            v-model="category">
                                        <option selected value="all">All</option>
                                        <option v-for="category in categories"
                                                :value="category">[[ category ]]
                                        </option>
                                    </select>

                                    <label class="ms-4 me-2">Players:</label>
                                    <input type="number" class="form-control"
                                           style="max-width: 5em" min="1"
                                           v-model="num_players">

                                    <button class="btn ms-4 btn-link"
                                            @click="clearFilter">
                                        Clear Filters
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row row-cols-1 row-cols-md-2 mt-2">
                            <template v-for="game in filteredGames">
                                <div class="col mb-4 my-2">
                                    <div :id="[[ game.name ]]"
                                         style="visibility: hidden; display:inline; padding-top: 40px"></div>
                                    <div class="card h-100"
                                         :class="{'border-primary': game.selected, 'bg-light': game.selected, 'border-danger': alreadyUsed(game) }">
                                        <img :src="[[ game.image ]]" class="card-img-top"
                                             style="object-fit: contain;height: 15vw;width: 100%"
                                             :alt="[[ game.name ]]">
                                        <div class="card-body">
                                            <h5 class="card-title">[[ game.name ]]
                                                <button class="btn btn-primary btn-sm ms-2 mb-1"
                                                        @click="game.selected = !game.selected"
                                                        :disabled="!game.selected && alreadyUsed(game)">
                                                    [[ game.selected ? "Remove from" :
                                                    "Add to" ]] selection
                                                </button>
                                            </h5>
                                            <p class="card-text"
                                               v-if="game.full_description">
                                                [[ game.description ]]
                                                <a type="button" class="link"
                                                   @click="game.full_description=false"
                                                   v-if="game.description.length > 200">
                                                    Show less
                                                </a>
                                            </p>
                                            <p class="card-text" v-else>
                                                [[ game.description.substring(0, 200)
                                                ]]...
                                                <a type="button" class="link"
                                                   @click="game.full_description=true">
                                                    Show more
                                                </a>
                                            </p>
                                            <dl class="row">
                                                <dt class="col-sm-3">Players</dt>
                                                <dd class="col-sm-9">[[ game.num_players
                                                    ]]
                                                </dd>

                                                <dt class="col-sm-3">Time</dt>
                                                <dd class="col-sm-9">[[ game.avg_time ]]
                                                </dd>

                                                <dt class="col-sm-3">Categories</dt>
                                                <dd class="col-sm-9">[[
                                                    game.categories.join(", ") ]]
                                                </dd>

                                                <dt class="col-sm-3"
                                                    v-if="game.instructions_1 || game.instructions_2">
                                                    Instructions
                                                </dt>
                                                <dd class="col-sm-9"
                                                    v-if="game.instructions_1 || game.instructions_2">
                                                    <a :href="[[game.instructions_1]]"
                                                       target="_blank"
                                                       v-if="game.instructions_1">View</a>
                                                    <a :href="[[game.instructions_2]]"
                                                       target="_blank" class="ms-2"
                                                       v-if="game.instructions_2">View</a>
                                                </dd>

                                                <dt class="col-sm-3 pr-0"
                                                    v-if="game.times">Already used
                                                </dt>
                                                <dd class="col-sm-9" v-if="game.times">
                                                    <template v-for="time in game.times">
                                                        <span :class="{'text-danger': timeOverlaps(time)}">[[ germanDate(time.start_date) ]] - [[ germanDate(time.end_date) ]]
                                                            <template v-if="time.you">(You)</template>
                                                            <template v-if="!time.given_back">(Not given back yet)</template>
                                                        </span>
                                                        <br>
                                                    </template>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </template>
                            <script src="https://unpkg.com/vue@3.2.21/dist/vue.global.prod.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
                            <script>
                                const GamesSite = {
                                    compilerOptions: {
                                        // Because { {  } } is already used by django
                                        delimiters: ["[[", "]]"]
                                    },
                                    data() {
                                        return {
                                            games: {{ games | safe }},
                                            categories: {{ categories | safe }},
                                            from: null,
                                            until: null,
                                            num_players: null,
                                            category: "all",
                                            searchText: null,
                                        }
                                    },
                                    computed: {
                                        filteredGames() {
                                            return this.games.filter(game => {
                                                if (this.num_players && game.max_players && game.max_players < this.num_players)
                                                    return false;
                                                if (this.num_players && game.min_players && game.min_players > this.num_players)
                                                    return false;
                                                if (this.category !== "all" && game.categories.indexOf(this.category) === -1)
                                                    return false;
                                                if (this.searchText && game.name.toLowerCase().indexOf(this.searchText.toLowerCase()) === -1)
                                                    return false
                                                return true;
                                            })
                                        },
                                        selectedGames() {
                                            return this.games.filter(g => g.selected);
                                        },
                                        selectedGamesText() {
                                            return this.selectedGames.map(g => g.name + (this.alreadyUsed(g) ? "(already used)" : "")).join(", ");
                                        },
                                        selectedGamesIds() {
                                            return this.selectedGames.map(g => g.id).join(",");
                                        },
                                        canRequest() {
                                            return this.from && this.until && this.untilDateError === null && this.selectedGames.length !== 0 && this.selectedGames.every(g => !this.alreadyUsed(g));
                                        },
                                        untilDateError() {
                                            if (this.from > this.until)
                                                return "The end date must be after the start date"
                                            if (!this.from || !this.until)
                                                return null
                                            if (((new Date(this.until) - new Date(this.from)) / (1000 * 60 * 60 * 24)) > 14.5)
                                                return "You can not rent games for more than 14 days"
                                            return null
                                        }
                                    },
                                    methods: {
                                        clearFilter() {
                                            this.category = "all";
                                            this.num_players = null;
                                            this.searchText = null;
                                        },
                                        germanDate(date) {
                                            return `${date.substr(8, 2)}.${date.substr(5, 2)}.${date.substr(0, 4)}`
                                        },
                                        timeOverlaps(times) {
                                            if (this.from && times.start_date <= this.from && this.from <= times.end_date)
                                                return true
                                            return this.until && times.start_date <= this.until && this.until <= times.end_date
                                        },
                                        alreadyUsed(game) {
                                            if (this.from || this.until) {
                                                return game.times.some(time => this.timeOverlaps(time))
                                            }
                                            return false
                                        }
                                    }
                                }
                                Vue.createApp(GamesSite).mount('#vue-main')

                            </script>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-history" role="tabpanel"
                         aria-labelledby="nav-history-tab">
                        {% for rental in old_rentals %}
                            <div class="card mt-2">
                                <div class="card-header">
                                    {{ rental.start_date }} - {{ rental.end_date }}
                                </div>
                                <div class="card-body">
                                    Rented Games:
                                    {% for game in rental.games.all %}
                                        {{ game.name }}{% if not forloop.last %},
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% empty %}
                            You never rented a game in the past.
                        {% endfor %}
                    </div>

                    {% if is_admin %}
                        <div class="tab-pane fade {% if was_admin %}show active{% endif %}"
                             id="nav-admin"
                             role="tabpanel"
                             aria-labelledby="nav-admin-tab">
                            {% for rental in admin_requests %}
                                <div class="card mt-2">
                                    <div class="card-header">
                                        {{ rental }}
                                        <a href="/admin/game_rental/gamerental/{{ rental.id }}/change/"
                                           class="btn btn-sm btn-primary ms-2"
                                           target="_blank">Manage</a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">
                                            {% if rental.state == "P" %}
                                                {{ rental.person }} balance:
                                                {% balance rental.person %}<br>
                                            {% endif %}
                                            Rented Games:
                                            {% for game in rental.games.all %}
                                                {{ game.name }}{% if rental.state == "P" and game.is_currently_rented_out %}<span class="text-danger"> (Aktuell noch ausgeliehen)</span></span>{% endif %}{% if not forloop.last %},
                                                {% endif %}
                                            {% endfor %}

                                            <button class="btn btn-sm btn-light ms-2 mb-1"
                                                    type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#game-collapse-{{ rental.id }}">
                                                Show content of games
                                            </button>
                                        </p>
                                        <div class="collapse"
                                             id="game-collapse-{{ rental.id }}">
                                            <div class="row row-cols-2 row-cols-md-3 mb-1">
                                                {% for game in rental.games.all %}
                                                    <div class="col mb-2 my-1">
                                                        <div class="card h-100">
                                                            <div class="card-body"
                                                                 style="padding: 0.75rem">
                                                                <h5 class="card-title">{{ game.name }}</h5>
                                                                <p class="card-text">{{ game.content | markdown }} </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <form method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id"
                                                   value="{{ rental.id }}">

                                            <label>Internal note</label>
                                            <textarea class="form-control my-1"
                                                      name="note">{{ rental.note }}</textarea>

                                            {% if rental.state == "P" %}
                                                <label class="mt-1">Events during the rental
                                                    period:</label>
                                                <ul>
                                                    {% for event in rental.conflicting_events %}
                                                        <li>{{ event.name }}
                                                            - {{ event.time }}</li>
                                                    {% empty %}
                                                        <li>No events</li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="form-group">
                                                    <label>Email text</label>
                                                    <button type="button"
                                                            class="btn btn-sm btn-primary mb-1"
                                                            onclick="accept_text_{{ rental.id }}()">
                                                        Default accept
                                                        text
                                                    </button>
                                                    <button type="button"
                                                            class="btn btn-sm btn-primary mb-1"
                                                            onclick="deny_text_{{ rental.id }}()">
                                                        Default deny text
                                                    </button>
                                                    <textarea class="form-control"
                                                              name="email_message"
                                                              rows="{{ 11 }}"
                                                              required
                                                              id="mail_{{ rental.id }}"
                                                              style="display: none"></textarea>
                                                    <script>
                                                        function accept_text_{{ rental.id }}() {
                                                            document.getElementById("mail_{{ rental.id }}").style.display = ""
                                                            document.getElementById("mail_{{ rental.id }}").value = `Hi {{ rental.person }},

good news, your game rental request was accepted! You can borrow the following games from the {{ rental.start_date }} until {{ rental.end_date }}:
{% for game in rental.games.all %}  - {{ game }}
{% endfor %}
You can pick up the games on {{ rental.start_date }} at 20:00 in the K14.
If that does not work for you, let us know.

Best regards
K14-AG`
                                                            document.getElementById("accept_{{ rental.id }}").disabled = false
                                                            document.getElementById("deny_{{ rental.id }}").disabled = true
                                                            document.getElementById("accept_{{ rental.id }}").style.display = ""
                                                            document.getElementById("deny_{{ rental.id }}").style.display = ""
                                                        }

                                                        function deny_text_{{ rental.id }}() {
                                                            document.getElementById("mail_{{ rental.id }}").style.display = ""
                                                            document.getElementById("mail_{{ rental.id }}").value = `Hi {{ rental.person }},

bad news, your game rental request was denied! The reason for that is: ...

You wanted to rent the following games from the {{ rental.start_date }} until {{ rental.end_date }}:
{% for game in rental.games.all %}  - {{ game }}
{% endfor %}

Best regards
K14-AG`
                                                            document.getElementById("accept_{{ rental.id }}").disabled = true
                                                            document.getElementById("deny_{{ rental.id }}").disabled = false
                                                            document.getElementById("accept_{{ rental.id }}").style.display = ""
                                                            document.getElementById("deny_{{ rental.id }}").style.display = ""
                                                        }

                                                    </script>
                                                </div>
                                            {% endif %}
                                            {% if rental.state == "P" %}
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        name="action"
                                                        id="accept_{{ rental.id }}"
                                                        style="display: none"
                                                        value="accept">Accept and send
                                                    mail
                                                </button>
                                                <button type="submit"
                                                        class="btn btn-primary ms-2"
                                                        name="action"
                                                        style="display: none"
                                                        id="deny_{{ rental.id }}"
                                                        value="deny">Deny and send mail
                                                </button>
                                            {% elif not rental.rented_at %}
                                                <button type="submit"
                                                        class="btn btn-primary ms-2"
                                                        name="action"
                                                        value="rent_out">Rent out by me
                                                    now
                                                </button>
                                            {% elif not rental.took_back_at %}
                                                <button type="submit"
                                                        class="btn btn-primary ms-2"
                                                        name="action"
                                                        value="took_back">Took back by me
                                                    now
                                                </button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="/admin/game_rental/gamerental/"
                               class="btn btn-primary mt-4 ms-4" role="button">
                                <span data-feather="settings"></span> Open in admin
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
