{% if block_internet_access %}
    <div class="row mt-3">
        <div class="col">
            <div class="alert alert-danger" id="payBlockInternetAccessFine">
                <h3>You have been fined for breaking network usage terms</h3>
                <br>
                Your internet access has been blocked for breaking the network usage terms:
                <div class="alert" role="alert">
                    {{ block_internet_access_reason }}
                </div>
                {% if block_internet_access_fine and block_internet_access_end %}
                    To regain your internet access you'll have to wait until
                    {{ block_internet_access_end|date:"d.m.Y" }} as well as pay a fine of
                    {{ block_internet_access_fine|floatformat:"-2"  }} €.
                    (You can already pay the fine, but you will still have to wait.)<br>
                    Please note that repeated violations will accrue higher fines and may result in a permanent ban.
                    <br><br>
                    <form action="{% url 'membership' %}" method="post" class="form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning" name="network_InternetAccessFine">
                            <span data-feather="alert-triangle"></span>
                            I understand the reason for the fine and want to pay it ({{ block_internet_access_fine|floatformat:"-2"  }} €)
                        </button>
                    </form>
                {% elif block_internet_access_fine %}
                    To regain your internet access you'll have to pay a fine of
                    {{ block_internet_access_fine|floatformat:"-2"  }} €.<br>
                    Please note that repeated violations will accrue higher fines and may result in a permanent ban.
                    <br><br>
                    <form action="{% url 'membership' %}" method="post" class="form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning" name="network_InternetAccessFine">
                            <span data-feather="alert-triangle"></span>
                            I understand the reason for the fine and want to pay it ({{ block_internet_access_fine|floatformat:"-2"  }} €)
                        </button>
                    </form>
                {% elif block_internet_access_end %}
                    To regain your internet access you'll have to wait until
                    {{ block_internet_access_end|date:"d.m.Y" }}.<br>
                    Please note that repeated violations might accrue fines or result in a permanent ban.
                {% else %}
                    For a possibility to regain internet access you can contact the
                    <a href="mailto:network@hilton.rwth-aachen.de">Networking Group</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}