{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}

    <div class="row">
        <div class="col">
            {% if membership.agreed_cloud_storage_terms and not nxc_user.enabled %}
                <div class="alert alert-danger" role="alert">
                    Your account is disabled. Possible causes:
                    <ul>
                        <li>
                            You just agreed on the terms: Refresh this page or wait some
                            minutes until your account
                            is activated.
                        </li>
                        <li>
                            You are not permitted to use any services of the association
                            due to e.g. unpaid
                            invoices.
                            In this case check your <a href="{% url 'membership' %}">membership
                            status</a>.
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h4 class="alert-heading">Terms of Usage</h4>
                    <p>You may not use our services to infringe the intellectual property
                        rights of others;
                        to provide information, products or services that cannot be
                        legally distributed,
                        sold or shipped globally; to distribute information intended to
                        enable or encourage illegal
                        activities;
                        to attempt to gain unauthorized entry to any computer system or
                        distribute information
                        describing how to do so;
                        or to perform other illegal activities.</p>
                    <p>You may not use our services to publish pornographic material,
                        material of a predominantly sexual nature, or material of a
                        violent nature.
                        You also may not publish information that endorses or encourages
                        acts of violence.</p>
                    <p>If we believe, at our sole discretion, that you have violated this
                        agreement,
                        we will terminate your use of the services without warning.</p>
                    <p>We do not backup or offer any support / restore process for data to
                        guard against data loss.
                        We are NOT a substitute for your own backup system.
                        If data has been deleted, damaged or corrupted we do not guarantee
                        that it will be possible
                        to restore information that has been deleted or damaged.
                        You agree to maintain your own copy of all data stored on our
                        servers (including files and
                        database contents),
                        and you agree that we are not liable for any loss of data if you
                        fail to maintain your own
                        copy,
                        nor are we responsible for restoring any data of any type of loss.
                        We reserve the right to remove and wipe storage on Nextcloud
                        should future upgrades need us
                        to.
                        You will be contacted about this before such event happens.
                    </p>
                    {% if not membership.agreed_cloud_storage_terms %}
                        <hr>
                        <div class="alert alert-warning" role="alert">After agreeing on
                            our terms of use you will be
                            logged out automatically.
                            Login again in order to active your cloud access.
                        </div>
                        <p class="text-center">
                            <a class="btn btn-info btn-lg"
                               href="{% url 'agree_terms_cloud' %}" role="button">Agree
                                to
                                the terms of usage</a>
                        </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    {% if membership.agreed_cloud_storage_terms %}
        <div class="row">
            <div class="col 12">
                <dl class="row">
                    <dt class="col-sm-2">Username</dt>
                    <dd class="col-sm-10">
                        <p style="font-family:'Lucida Console', monospace">{{ user.username }}
                            or {{ user.email }}</p>
                    </dd>
                    <dt class="col-sm-2">Password</dt>
                    <dd class="col-sm-10">Same as on this website</dd>
                    <dt class="col-sm-2">Enabled</dt>
                    <dd class="col-sm-10">
                        {% if not nxc_user.enabled %}
                            <span data-feather="slash"></span>
                        {% else %}
                            <span data-feather="check"></span>
                        {% endif %}</dd>
                    <dt class="col-sm-2">Groups</dt>
                    <dd class="col-sm-10">
                        {% if nxc_user.groups|length  == 0 %}
                            None
                        {% endif %}
                        {% for group in nxc_user.groups %}
                            {{ group }}<br>
                        {% endfor %}
                    </dd>
                    <dt class="col-sm-2">Usage</dt>
                    <dd class="col-sm-10">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width: {% widthratio nxc_user.quota.used nxc_user.quota.total 100 %}%;"
                                 aria-valuenow="{{ nxc_user.quota.used }}"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ nxc_user.quota.total }}">
                            </div>
                        </div>
                        <p>You used <span id="quota-usage">?/?GB</span> of
                            storage. If you need more contact the networking group.</p>

                    </dd>
                    <dt class="col-sm-2">WebDAV</dt>
                    <dd class="col-sm-10"><p
                            style="font-family:'Lucida Console', monospace">
                        https://cloud.hilton.rwth-aachen.de/remote.php/webdav/ (<a
                            href="https://docs.nextcloud.com/server/stable/user_manual/files/access_webdav.html?">Tutorial</a>)
                    </p></dd>
                    <dt class="col-sm-2">Sync Clients</dt>
                    <dd class="col-sm-10"><a href="https://nextcloud.com/clients/">Downloads</a>
                    </dd>
                </dl>
                <p class="text-center">
                    <a class="btn btn-success btn-lg"
                       href="https://cloud.hilton.rwth-aachen.de" role="button">Go to
                        Cloud</a>
                </p>
            </div>
        </div>
    {% endif %}


    <script>
        $(document).ready(function () {
            function prettySize(bytes, separator = '', postFix = '') {
                if (bytes) {
                    const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
                    const i = Math.min(parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10), sizes.length - 1);
                    return `${(bytes / (1024 ** i)).toFixed(i ? 1 : 0)}${separator}${sizes[i]}${postFix}`;
                }
                return 'n/a';
            }

            var used = "{{ nxc_user.quota.used }}";
            var total = "{{ nxc_user.quota.total }}";
            $('#quota-usage').html(prettySize(used) + " of " + prettySize(total));


        });
    </script>
{% endblock %}
