{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    {% if success %}
    <div class="row mt-3">
        <div class="col-9">
            <p>You left the association "Turmstraße 1 e.V. successfully.</p>
            <p>If you think this is incorrect please contact the networking group.</p>
            <p>Note that you will have to register again if you want to become a member.</p>
        </div>
    </div>
    {% endif %}

{% endblock %}