{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    {% if is_member %}
        <!-- Modal -->
        <div class="modal fade" id="quitModal" tabindex="-1" role="dialog" aria-labelledby="quitModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="quitModalLongTitle">Terminate the contract</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure? You will lose internet access and access to the other services provided by the
                        Turmstraße 1 e.V.
                        You will need to register if you want to become a member again. You will leave
                        according to:<br>
                        <br>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                            <ul>
                                <li><b>§ 4.f</b> Beendigung der Mitgliedschaft</li>
                                <ul>
                                    <li><b>(1)</b> Die Mitgliedschaft endet</li>
                                    <ul>
                                        <li><b>i.</b> durch freiwilligen Austritt</li>
                                    </ul>
                                </ul>
                            </ul>
                        </blockquote>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{% url 'leave_association_confirmation' %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger" id="quitButton" type="submit" value="Leave Turmstraße 1 e.V.">
                        </form>
                        <script>
                            let quitId;
                            $('#quitModal').on('show.bs.modal', function () {
                                clearInterval(quitId);
                                $('#quitButton').attr("disabled", "true");
                                let seconds = 4;
                                $('#quitButton').attr("value", `Leave Turmstraße 1 e.V. (${seconds})`);
                                quitId = setInterval(() => {
                                    --seconds;
                                    $('#quitButton').attr("value", `Leave Turmstraße 1 e.V. (${seconds})`);
                                    if (seconds <= 0) {
                                        clearInterval(quitId);
                                        $('#quitButton').attr("value", "Leave Turmstraße 1 e.V.");
                                        $('#quitButton').removeAttr("disabled")
                                    }
                                }, 1000)
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="newTenantBarModal" tabindex="-1" role="dialog"
             aria-labelledby="newTenantBarModalTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newTenantBarModalLongTitle">New Tenant Bar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Participation in the "New Tenant Bar" is mandatory for all new tenants.
                        We usually meet once a month and introduce new tenants to all dorm related stuff.
                        This includes a tour through our dorm, visiting the washing room, workshop, fitness room, and
                        pub.
                        <br><br>
                        Make sure not to miss it since participation is required for internet access. You will be
                        disconnected after 3 missings.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="pay10euro" tabindex="-1" role="dialog"
             aria-labelledby="pay10euroModalLongTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="pay10euroModalLongTitle">10 € additional fee confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You have to pay the network fee of {{ network_fee }} € and an additional fee of 10 € to get
                        network access for one month even though you do not fulfill the requirements.<br>
                        If you do not fulfill the requirements within one month you have to pay the additional fee of
                        10 € next month again to get internet access.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{% url 'membership' %}" method="post" class="form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning my-2" name="network_10_euro">
                                <span data-feather="alert-triangle"></span>
                                Buy network access for {{ network_fee_total }} € total
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include 'association/block_internet_banner.html' %}

        <div class="row mt-3">
            <div class="col">
                <h3>Your status</h3>
                <div class="card">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Membership ID</dt>
                            <dd class="col-sm-9">{{ membership.get_membership_id }}</dd>
                            <dt class="col-sm-3">Membership Type</dt>
                            <dd class="col-sm-9">{{ membership.type.name }}</dd>
                            <dt class="col-sm-3">Membership Type Description</dt>
                            <dd class="col-sm-9">{{ membership.type.description }}</dd>
                            <dt class="col-sm-3">Association Fees</dt>
                            <dd class="col-sm-9">
                                Registration: €10<br>
                                Association: €{{ membership.type.membership_fee|floatformat:"-2" }}/month<br>
                                {% if membership.type.internet_allowed %}
                                    Network: €{{ membership.type.membership_fee_network|floatformat:"-2" }}/month (optional)
                                {% else %}
                                    No network access possible because you are a {{ membership.type.name }} and not a normal one.
                                {% endif %}
                            </dd>
                            <dt class="col-sm-3">Current Social Service Period</dt>
                            <dd class="col-sm-9">{{ ss_period.start_date }} - {{ ss_period.estimated_end }}
                                <span class="ms-4"/>
                                You have
                                {% if not membership.did_social_service_in_current_social_service_period %}
                                    not
                                {% endif %}
                                done a social service in this period.
                            </dd>

                            <dt class="col-sm-3">Internet Access</dt>
                            <dd class="col-sm-9">
                                {% if membership.is_already_invoice_network_running %}
                                    <div class="alert alert-success" role="alert">
                                        You paid for network access until
                                        {{ membership.network_invoice_valid_until|date:"N j, Y" }}
                                        by 23:59 CET of the respective day
                                        ({{ membership.amount_days_left_of_network_invoice }} day(s)
                                        left).
                                    </div>
                                {% elif membership.primary_internet_access %}
                                    <div class="alert alert-warning" role="alert">
                                        Your Internet access has been manually enabled. This state is only
                                        <b>temporarily</b>.<br>
                                        Notes: <i>{{ membership.primary_internet_access_note }}</i>
                                    </div>
                                {% elif membership.has_joined_recently %}
                                    <div class="alert alert-info" role="alert">
                                        You have temporary access since you joined recently. You will maintain
                                        this status for 2 weeks so that you can do all necessary payments..
                                    </div>
                                {% else %}
                                    <div class="alert alert-danger" role="alert">
                                        You currently don't have network access! See the table below for the reason.
                                    </div>
                                {% endif %}

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Requirements for next network invoice</th>
                                        <th scope="col">Fulfillment</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <th scope="row">Payment</th>
                                        <td>
                                            {% if account_funded %}
                                                <span data-feather="check"></span>
                                                Your account is sufficient funded: Your balance ({{ balance }}) ≥ Network fee ({{ network_fee }} €)
                                            {% else %}
                                                <span data-feather="slash"></span>
                                                Your account is not sufficient funded: Network fee ({{ network_fee }} €) > Your balance ({{ balance }})
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Not Banned for breaking Rules</th>
                                        <td>
                                            {% if block_internet_access %}
                                                <span data-feather="slash"></span>
                                                Your internet access has been blocked
                                                {% if block_internet_access_fine and block_internet_access_end %}
                                                    until {{ block_internet_access_end|date:"d.m.Y" }} and
                                                    payment of the fine ({{ block_internet_access_fine|floatformat:"-2"  }} €):
                                                {% elif block_internet_access_end %}
                                                    until {{ block_internet_access_end|date:"d.m.Y" }}:
                                                {% elif block_internet_access_fine %}
                                                    until payment of the fine ({{ block_internet_access_fine }} €):
                                                {% else %}
                                                    until further notice:
                                                {% endif %}
                                                {{ block_internet_access_reason }}
                                            {% else %}
                                                <span data-feather="check"></span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Social Service done in last period</th>
                                        <td>
                                            {% if membership.did_social_service_in_previous_social_service_period %}
                                                <span data-feather="check"></span>
                                            {% else %}
                                                <span data-feather="slash"></span>
                                                <div class="alert alert-danger mt-3" role="alert">
                                                    You have <strong>not</strong> done a social service in the last period from
                                                    {{ membership.get_previous_social_service_period.start_date }} to
                                                    {{ membership.get_previous_social_service_period.end_date }}.
                                                    {% with latest_ss=membership.get_latest_verified_social_service %}
                                                        {% if latest_ss %}
                                                            "{{ latest_ss }}" was your last social service on
                                                            {{ latest_ss.time | date:"d.m.Y" }}.
                                                        {% endif %}
                                                    {% endwith %}

                                                    You have to do a social service now to fulfill this requirement.
                                                    See <a href="/association/social/">here</a> for available social services.
                                                </div>
                                                {% if membership.fulfill_basic_network_invoice_requirements %}
                                                    <div class="alert alert-info mt-3" role="alert">
                                                        For additional 10 € you can get internet access now even though
                                                        you have not done a social service in the last period.<br>
                                                        <button class="btn btn-warning my-2" data-bs-toggle="modal" data-bs-target="#pay10euro">
                                                            <span data-feather="alert-triangle"></span>
                                                            Buy network access for additional 10€
                                                        </button>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            {# Only show the following when you have done a ss in the last semester, otherwise you may thing that you will only loose internet in the future and don't have to do a social service now #}
                                            {% if membership.did_social_service_in_previous_social_service_period and not membership.did_social_service_in_current_social_service_period %}
                                                <div class="alert alert-warning mt-3" role="alert">
                                                    Warning: You have not done any social service in the current period.<br>
                                                    You will lose the internet connection after {{ ss_period.estimated_end }}
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Attended the <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#newTenantBarModal">"New
                                            Tenant Bar"</a></th>
                                        <td>{% if membership.person.attended_new_tenant_bar %}
                                            <span data-feather="check"></span>
                                        {% else %}
                                            <span data-feather="slash"></span>
                                            <div class="alert
                                                {% if missed_new_tenant_bars < 2 %}
                                                    alert-warning
                                                {% else %}
                                                    alert-danger
                                                {% endif %}
                                                mt-3" role="alert">
                                                {{ missed_new_tenant_bars }}/3 missed<br>
                                                You have to visit a new tenant bar
                                                {% if missed_new_tenant_bars < 3 %}
                                                    (after you miss 3 new tenant bars, you will lose internet access)
                                                {% endif %}
                                            </div>
                                            <div class="alert alert-info mt-3" role="alert">
                                                New tenant bars are usually on the first wednesday of a month.
                                                You get an Email if there is a new tenant bar.
                                                You can look and register <a href="/association/social">here</a> if a new tenant bar is currently announced. <br>
                                                If you have a question regarding the new tenant bar, please mail <a href="mailto:ba@hilton.rwth-aachen.de">ba@hilton.rwth-aachen.de</a>.
                                            </div>
                                        {% endif %}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Not skipping internet access</th>
                                        <td>
                                            {% if not membership.skip_internet_fee %}
                                                <span data-feather="check"></span>
                                            {% else %}
                                                <span data-feather="slash"></span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">Authorized based on membership type</th>
                                        <td>
                                            {% if membership.type.internet_allowed %}
                                                <span data-feather="check"></span>
                                            {% else %}
                                                <span data-feather="slash"></span>
                                            {% endif %}
                                        </td>
                                    </tr>

                                    {% if not membership.signed_usage_network %}
                                    <tr>
                                        <th scope="row">Signed networking group regulations</th>
                                        <td>
                                            <span data-feather="slash"></span>
                                            <div class="alert alert-danger mt-3" role="alert">
                                                You have to sign the networking group regulations.
                                                You can do that down below.
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}

                                    <tr>
                                        <th scope="row"></th>
                                        <td>
                                            {% if membership.fulfill_basic_network_invoice_requirements and membership.fulfill_additional_network_invoice_requirements %}
                                                <span data-feather="check"></span> All requirements fulfilled!
                                            {% else %}
                                                <span data-feather="slash"></span> Some requirements are not fulfilled!
                                                {% if membership.is_already_invoice_network_running %}
                                                    <div class="alert alert-danger mt-3" role="alert">
                                                        You will lose network access
                                                        in {{ membership.amount_days_left_of_network_invoice }} day(s)!
                                                        <br>
                                                        {{ membership.network_invoice_valid_until|date:"N j, Y" }}
                                                        by 23:59 CET of the respective day
                                                    </div>
                                                    {% if membership.fulfill_basic_network_invoice_requirements %}
                                                        <div class="alert alert-info mt-3" role="alert">
                                                            You can get network access for additional 10 € even though
                                                            you do not fulfill the requirements. <br>
                                                            If you plan to do so, pay 10 € to your account now.
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    {% if membership.fulfill_basic_network_invoice_requirements %}
                                                        <div class="alert alert-info mt-3" role="alert">
                                                            You can get network access for additional 10 € even though
                                                            you do not fulfill the requirements.
                                                            <button class="btn btn-warning my-2" data-bs-toggle="modal"
                                                                    data-bs-target="#pay10euro">
                                                                <span data-feather="alert-triangle"></span>
                                                                Buy network access for additional 10€
                                                            </button>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>

        {% if membership_changes %}
            <div class="row mt-3">
                <div class="col">
                    <h3>Planned Membership Type Changes</h3>
                    <div class="card">
                        <div class="card-body">
                            {% for change in membership_changes %}
                                <dl class="row">
                                    <dt class="col-sm-2">Start</dt>
                                    <dd class="col-sm-9">{{ change.start }}</dd>
                                    <dt class="col-sm-2">Membership Type</dt>
                                    <dd class="col-sm-9">{{ change.planned_membership_type.name }}</dd>
                                    {% if change.last_day %}
                                        <dt class="col-sm-2">Last day</dt>
                                        <dd class="col-sm-9">{{ change.last_day }}</dd>
                                    {% endif %}
                                </dl>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if not 'ruhend' in membership.type.name %}
            <div class="row mt-3">
                <div class="col">
                    <h3>Working group usage terms</h3>
                    <div class="card">
                        <div class="card-body">
                            You can sign the usage terms of the working groups here if you still need to do so.<br>
                            This is necessary to be able to use the services of the working groups.<br>
                            <br>
                            The usage terms of the working groups can be found
                            <a href="https://cloud.hilton.rwth-aachen.de/index.php/s/MmNa7xLsbBF5jKp">here</a>.
                            <br><br>
                                <table class="table table-striped">
                                    <form action="{% url 'membership' %}" method="post" class="form">
                                        {% csrf_token %}
                                        <tbody>
                                            <tr>
                                                <th scope="row">Networking Group</th>
                                                <th>
                                                    {% if not membership.signed_usage_network %}
                                                        <button type="submit" class="btn btn-success btn-md" name="accept_terms_networking">Accept usage terms</button>
                                                    {% else %}
                                                        Already signed!
                                                    {% endif %}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">Fitness Group</th>
                                                <th>
                                                    {% if not membership.signed_usage_fitness %}
                                                        <button type="submit" class="btn btn-success btn-md" name="accept_terms_fitness">Accept usage terms</button>
                                                    {% else %}
                                                        Already signed!
                                                    {% endif %}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">Workshop Group</th>
                                                <th>
                                                    {% if not membership.signed_usage_workshop %}
                                                        <button type="submit" class="btn btn-success btn-md" name="accept_terms_workshop">Accept usage terms</button>
                                                    {% else %}
                                                        Already signed!
                                                    {% endif %}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th scope="row">Bar (Symposion)</th>
                                                <th>
                                                    {% if not membership.signed_usage_symposion %}
                                                        <button type="submit" class="btn btn-success btn-md" name="accept_terms_bar">Accept usage terms</button>
                                                    {% else %}
                                                        Already signed!
                                                    {% endif %}
                                                </th>
                                            </tr>
                                        </tbody>
                                    </form>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row mt-3">
            <div class="col">
                <h3>I don't want Internet access</h3>
                <div class="card">
                    <div class="card-body">
                        You can enable <b>Network Fee Skipping</b>.
                        If enabled no network invoice will be generated for you but you will lose network access.<br>
                        Might be useful if you are on a trip for over one month.
                        <br><br>
                        <form action="{% url 'membership' %}" method="post" class="form">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-warning">
                                    <span data-feather="alert-triangle"></span>
                                    Save changes
                                </button>

                            {% endbuttons %}
                        </form>
                    </div>
                </div>

            </div>
        </div>

        {% if 'limited' not in membership.type.name.lower %}
        <div class="row mt-3">
            <div class="col">
                <h3>I will be on travel for more than one month</h3>
                <div class="card">
                    <div class="card-body">
                        You can request a "ruhende Mitgliedschaft" which results in losing all benefits of the
                        association.<br>
                        However, this can make sense if you do an internship for example and you do not want to pay our
                        fees for multiple month without using any of our services.
                        <br><br>
                        Please read and understand <b>§4.d</b> in our "Satzung" for further consequences.
                        <br><br>
                        You wont be able to access your cloud storage during this time (not yet relevant).
                        <br><br>
                        <a class="btn btn-warning  btn-md"
                           href="mailto:haussprecher@hilton.rwth-aachen.de?cc=network@hilton.rwth-aachen.de&subject=Requesting 'ruhende Mitgliedschaft'&body=I have read and understood §4.d which lead me to the decision to change my membership type to 'Ruhendes Mitglied' temporarily for ... month beginning from ... My reasons: ..."
                           role="button"><span
                                data-feather="alert-triangle"></span> Request Membership Type Change</a>
                    </div>
                </div>

            </div>
        </div>
        {% endif %}

        {% if 'limited' in membership.type.name %}
        <div class="row mt-3">
            <div class="col">
                <h3>I'm back in Aachen and want to be a normal member</h3>
                <div class="card">
                    <div class="card-body">
                        You have requested a "ruhende Mitgliedschaft" which resulted in losing all benefits of the
                        association (or you did not payed the membership fees).
                        <br><br>
                        If you want to use the internet you have to be a normal Member ("ordentliches Mitglied").
                        <br><br>
                        <form action="{% url 'membership' %}" method="post" class="form">
                            {% csrf_token %}
                            {% buttons %}
                                <button type="submit" class="btn btn-warning btn-md" name="normal_membership"
                                {% if balance.amount < 0 %}
                                    disabled
                                {% endif %}
                                >
                                    <span data-feather="alert-triangle"></span>
                                    Change membership type back to normal
                                </button>
                            {% endbuttons %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row mt-3">
            <div class="col">
                <h3>I want to quit</h3>
                <div class="card">
                    <div class="card-body">
                        You can quit anytime. However, note that you need to be a member if you want to use any of the
                        following.
                        <ul>
                            <li>Internet access</li>
                            <li>All services provided by the networking group</li>
                            <li>Workshop room</li>
                            <li>Fitness room</li>
                            <li>Summer and winter party</li>
                        </ul>

                        <a href="#" class="btn btn-danger btn-md" role="button" data-bs-toggle="modal"
                           data-bs-target="#quitModal"><span
                                data-feather="alert-triangle"></span>
                            Leave Turmstraße 1 e.V.</a>
                    </div>
                </div>

            </div>
        </div>

    {% else %}
        <div class="alert alert-danger">You are not a member. Register <a href="{% url 'register' %}"
                                                                          class="alert-link">here</a>!
        </div>
    {% endif %}
{% endblock %}
