{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}

    <div class="row">
        <div class="col">
            {% if balance.amount.real < monthly_fee %}
                <div class="card border-danger">
                    <div class="card-header">Your Balance</div>
                    <div class="card-body text-danger">
                        <h1 class="card-title text-center">{{ balance }}</h1>
                        <hr>
                        <p class="card-text">Warning, insufficient funds. You wont be able
                            to cover the next invoice
                            which may affect your network access. Make sure to add enough
                            funds before the upcoming
                            invoices.<span data-feather="frown"></span></p>
                    </div>
                </div>

            {% else %}
                <div class="card border-success">
                    <div class="card-header">Balance</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">{{ balance }}</h5>
                        <p class="card-text">Your account is funded sufficiently. You will
                            be able to cover the next
                            invoices. <span data-feather="smile"></span></p>
                    </div>
                </div>
            {% endif %}
            <br>
            <div class="align-middle d-flex justify-content-center align-items-center">
                {% csrf_token %}
                <div class="me-2"><span
                        data-feather="clock"></span>
                    <span id="last_update_time">Last update: {{ last_update }}</span>
                </div>
                    {% if next_update_in > 0 %}
                        <button id="transaction_fetch" disabled style="display: block;"
                                class="btn btn-primary btn-sm">Next Update possible in {{ next_update_in }} minutes
                        </button>
                    {% else %}
                        <button id="transaction_fetch" style="display: block;"
                                class="btn btn-primary btn-sm">Update now
                        </button>
                    {% endif %}
                <div id="transaction_spinner" style="display: none;"
                     class="spinner-border text-primary" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <table class="table table-borderless" style="font-family:monospace;">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-right">Amount</th>
                    <th scope="col">Note</th>
                </tr>
                </thead>
                <tbody>
                {% if membership.type.has_to_pay_fees %}
                    <tr>
                        <td scope="row" class="text-muted text-right"></td>
                        <th scope="row" class="text-muted">{{ next_invoice|date:"M Y" }}</th>
                        <td class="text-muted text-right">-{{ membership.type.membership_fee }}</td>
                        <td class="text-muted">upcoming house fee</td>
                    </tr>
                {% endif %}
                {% if membership.type.internet_allowed and not is_skipping_network %}
                    <tr>
                        <td scope="row" class="text-muted text-right"></td>
                        <th scope="row" class="text-muted">
                            in {{ membership.amount_days_left_of_network_invoice }} day(s)
                        </th>
                        <td class="text-muted text-right">-{{ membership.type.membership_fee_network }}</td>
                        <td class="text-muted">upcoming network fee</td>
                    </tr>
                {% endif %}

                {% for transaction in transactions %}
                    <tr>
                        <td scope="row" class="text-muted text-right">
                            [{{ transaction.transaction.id }}]
                        </td>
                        <th scope="row">{{ transaction.transaction.date|date:"d.m.Y" }}</th>

                        <!-- This should be added as an attribute instead of relaying on a string comparison -->
                        {% if transaction.account.title == network_fk_name %}
                            <td class="text-success text-right">
                                +{{ transaction.amount }}</td>
                        {% else %}
                            <td class="text-danger text-right">
                                -{{ transaction.amount }}</td>
                        {% endif %}
                        <td>{{ transaction.transaction.note }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-3">
                    <h4 class="alert-heading">Important!</h4>
                    <p>The <strong>reference code (Verwendungszweck) is required</strong> as we identify you exclusively
                        with
                        the given reference code
                        (<code>{{ user.username }}</code>).
                        Do not add any further information such as your name or similar.
                        Incorrect or missing references lead to unassigned transactions
                        that need to be processed
                        manually
                        which takes time and may result in temporary network bans.</p>
                    <p>We strongly advise you to set up a standing order that transfers
                        {{ normal_monthly_fee }} € automatically at the
                        end of each month.
                        This ensures that you do not forget to pay the services. Make sure
                        to transfer early since bank
                        transactions do take some days.</p>
                    <p class="mb-0">You can also transfer more that {{ normal_monthly_fee }} €
                        at once which can be useful if you have to pay
                        transaction fees. However, please do not exaggerate.<br>
                        Use the following banking information to add funds. Note that it
                        can take up to three days to process your transaction.
                        <strong>We support real-time/instant bank transfers (Sofortüberweisung). You probably have to
                            manually enable it via a checkbox at your Bank.</strong> You can click on
                        <i>Update now</i> to synchronise the balance with our bank immediately.
                    </p>
                    <hr>
                    <dl class="row">
                        <dt class="col-sm-3">Account</dt>
                        <dd class="col-sm-9">Turmstraße 1 e.V.</dd>
                        <dt class="col-sm-3">IBAN</dt>
                        <dd class="col-sm-9">DE23 3706 0993 4992 1466 00</dd>
                        <dt class="col-sm-3">Reference</dt>
                        <dd class="col-sm-9"><code>{{ user.username }}</code></dd>
                    </dl>
                    <hr>
                    <p>
                        Next invoice on {{ next_invoice|date:"N j, Y" }}.
                        The total amount of at least {{ normal_monthly_fee }} € is
                        required for network access. This is a <span
                            class="fw-bold">prepaid account</span>!
                        Invoices
                        are instantly reduced from your balance. Negative balance will
                        affect your network access.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        const button = document.querySelector("#transaction_fetch");
        const spinner = document.querySelector("#transaction_spinner");
        const last_update_text = document.querySelector("#last_update_time");
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        async function onFetchTransactions(e) {
            button.style.display = 'none';
            spinner.style.display = 'block';

            const requestOptions = {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
            };

            const response = await fetch('/nordigen/fetch_transactions/', requestOptions);
            const responseData = await response.json();

            const userUpdated = responseData.userChange;

            if (userUpdated) {
                window.location.reload();
            } else {
                last_update_text.innerHTML = `Last update: ${responseData.time}`;
                button.style.display = 'block';
                button.disabled = true;
                button.innerText = "Next Update possible in 7 minutes"
                spinner.style.display = 'none';
            }
        }

        button.addEventListener("click", onFetchTransactions);
    </script>
{% endblock %}
