{% extends "base.html" %}
{% load bootstrap %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    {{ form.media }}
    <div class="p-3 mb-4 bg-light">
        <div class="container-fluid">
            <h1 class="display-4">You are not a Member yet.</h1>
            <p class="lead p-1">Apparently you are not a member of Turmstraße 1 e.V. yet.
                To register, you need to read this page carefully and
                <span class="fw-bold">agree to the terms and conditions</span> of the association.<br>
                To use the Services of the Working Groups
                (like the <span class="fw-bold">Internet</span>, the Workshop, the Fitness Room, and others)<br>
                you will also need to accept the terms and conditions of the corresponding working groups.<br><br>
                Please bear in mind that some linked documents may be written in German for legal reasons. Also, note
                that you will face fees for Internet access and house-related stuff.
            <hr class="my-4">
            <p class="p-2">Fees in short:<br>
                Registration: €10<br>
                Association: {{ membership_type.membership_fee|floatformat:"-2" }}€/month<br>
                Network: {{ membership_type.membership_fee_network|floatformat:"-2" }}€/month (optional)<br>
                <br>
                If you do not want to have network access you can change the corresponding setting on this page as soon as you are a member.
            </p>

            <hr class="my-4">

            <h1 class="h2">Your personal information</h1>
            <div class="p-1">The information was taken from your initial application:<br><br>
                <table class="table">
                {% for key, value in userdata.items %}
                    <tr>
                        <th scope="row">{{ key }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>

            <hr class="my-4">

            {% if not can_register %}
                <div class="alert alert-danger" role="alert">
                    You cannot currently register for Turmstraße 1 e.V. because you do not live there.
                    Please wait until you have moved in.
                </div>
            {% else %}
	            <h2>Terms and Conditions</h2>
	            <div class="p-1">You have to accept the terms and conditions of every working group to use their services.<br><br>
	            <form action="{% url 'register' %}" method="post" class="form" id="registration-form">
	                {% csrf_token %}
	                <table class="table">
	                <tbody>
	                {% for field in form.visible_fields %}
	                    <tr>
	                    <th>
	                        <table>
	                            <tr><th class="fw-bold">{{ field.label }}</th></tr>
	                            {% autoescape off %}
	                            <tr><th class="fw-normal pe-5">{{ field.help_text }}</th></tr>
	                            {% endautoescape %}
	                        </table>
	                    </th>
	                    <td>
	                        {% if field.name|slice:":6" == "accept" %}
	                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
	                                <input type="radio" class="btn-check" name="{{ field.name }}" id="{{ field.name }}_0" value="True" autocomplete="off" {% if field.value == "True" %}checked{% endif %} required>
	                                <label class="btn btn-outline-success" for="{{ field.name }}_0">Accept</label>

	                                <input type="radio" class="btn-check" name="{{ field.name }}" id="{{ field.name }}_1" value="False" autocomplete="off" {% if field.value == "False" %}checked{% endif %}>
	                                <label class="btn btn-outline-danger" for="{{ field.name }}_1">Refuse</label>
	                            </div>
	                        {% elif field.name == "birthday_field" %}
	                            <input type="date" class="form-control" value="{{ field.value }}" name="{{ field.name }}" required>
	                        {% else %}
	                            <div id="{{ field.name }}">{{ field }}</div>
	                        {% endif %}

	                        {% for error in field.errors %}
	                            <p class="text-danger">{{ error }}</p>
	                        {% endfor %}
	                    </td>
	                    </tr>
	                {% endfor %}
	                </table>

                    <p>You will only have <span class="fw-bold">internet access</span> if you agree to the terms and conditions of the Networking Group!</p>

                    {% buttons %}
                        <p class="lead">
                            <button type="submit" class="btn btn-primary">
                                <span data-feather="check"></span> Register as Member
                            </button>
                            <a href="https://cloud.hilton.rwth-aachen.de/index.php/s/MmNa7xLsbBF5jKp" class="btn btn-secondary" role="button" target="_blank">
                                <span data-feather="download"></span>Relevant Documents (Satzung, Geschäftsordnung, etc.)
                            </a>
                            <a href="https://www.hilton.rwth-aachen.de/de/impressum-3/" class="btn btn-secondary" role="button" target="_blank">
                                <span data-feather="file"></span>Privacy Policy
                            </a>
                        </p>
                    {% endbuttons %}
                </form>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        document.getElementById("accept_terms_networking_group_1").onclick = () => {
            if(!window.confirm("Are you sure you want to proceed without accepting the terms of the Networking Group? You can't receive internet access without doing this.")){
                document.getElementById("accept_terms_networking_group_0").checked = true
            }
        }
    </script>
{% endblock %}
