{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="row">
        <div class="col 12">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4">Being Social - Why?</h1>
                    <p class="lead">This dorm works based on self-administration.
                        In other words, we would not have cheap and fast Internet access,
                        a
                        workbench, a fitness
                        room and a small pub without us, the tenants.
                        This is why all members of Turmstraße 1 e.V. are required to
                        contribute in some way once every six months.
                        Down below you will find some stuff that need to be done.
                        Once you registered and completed one of the duties it will be
                        verified.</p>

                    <p class="lead">This is not supposed to be hard work. Participate,
                        help
                        others and have a good
                        time living here :)</p>

                    <p class="lead">Alternatively you can fulfill the social service duty
                        by
                        being an active member of a
                        working group.
                        Some working group tasks are listed in the corresponding tab.
                        However, these tasks are considered to be more time consuming and
                        you
                        are required to be a
                        member of the group but on the other hand, by actively
                        participating
                        in a working group you can
                        extend your tenancy contract.

                        For example, you are considered to be an active tenant for the
                        current
                        semester if you are able
                        to successfully complete at least one task of the networking
                        group.
                    </p>

                    <hr class="my-4">
                    <p>You think you did something social already or you have an idea?
                        Tell us
                        about it and we might
                        add it.</p>
                    <p class="lead">
                        <a href="mailto:haussprecher@hilton.rwth-aachen.de"
                           class="btn btn-primary btn-lg"
                           role="button">Suggest a
                            social service</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col 12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-avail-tab"
                       data-bs-toggle="tab" href="#nav-avail"
                       role="tab" aria-controls="nav-avail" aria-selected="true">One Time
                        Tasks</a>
                    <a class="nav-item nav-link"
                       id="nav-avail-working-group-tab"
                       data-bs-toggle="tab"
                       href="#nav-avail-working-group"
                       role="tab"
                       aria-controls="nav-avail-working-group"
                       aria-selected="true">Working Group
                        Tasks</a>
                    <a class="nav-item nav-link" id="nav-history-tab" data-bs-toggle="tab"
                       href="#nav-history"
                       role="tab" aria-controls="nav-history" aria-selected="false">My
                        History</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-avail" role="tabpanel"
                     aria-labelledby="nav-avail-tab">

                    {% for service in social_services_one_time %}
                        <!-- anchor so that the task is at the top of the page and the title is readable -->
                        <div id="{{ service.name }}"
                             style="visibility: hidden; display:inline; padding-top: 40px"></div>
                        <div class="card col-12 my-2">
                            <div class="card-body">
                                <h5 class="card-title text-primary">{{ service.name }}</h5>
                                <p class="card-text">
                                    {% if user.person in service.registrations.all %}
                                        <a href="{% url 'unregister_social_service' service.id %}"
                                           class="btn btn-outline-secondary">Unregister</a>
                                    {% else %}
                                        <a href="{% url 'register_social_service' service.id %}"
                                           class="btn btn-outline-primary">Register</a>
                                    {% endif %}
                                    <a href="{% url 'admin:association_socialservice_change' service.id %}"
                                       class="btn btn-outline-dark" role="button"
                                       target="_blank"><span
                                            data-feather="settings"></span> Manage</a>
                                </p>
                                <p class="card-text">
                                <dl class="row">
                                    <dt class="col-sm-2">When</dt>
                                    <dd class="col-sm-10">
                                        {% if service.time %}{{ service.time }}{% else %}
                                            Timeless{% endif %}
                                    </dd>
                                    <dt class="col-sm-2">What</dt>
                                    <dd class="col-sm-10">{{ service.description|linebreaksbr }}</dd>
                                    {% if service.link_to_participate %}
                                        <dt class="col-sm-2">Link to participate</dt>
                                        <dd class="col-sm-10"><a
                                                href="{{ service.link_to_participate }}">{{ service.link_to_participate }}</a>
                                        </dd>
                                    {% endif %}
                                    <dt class="col-sm-2">Who is responsible</dt>
                                    <dd class="col-sm-10">{{ service.responsible_working_group }}
                                        {% if service.people_limit is not undefined %}
                                            <dt class="col-sm-2">How many</dt>
                                            <dd class="col-sm-10">{{ service.registrations.all.count }}
                                                / {{ service.people_limit }}
                                            </dd>

                                            <dd class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress-bar"
                                                         role="progressbar"
                                                         style="width: {% widthratio service.registrations.all.count service.people_limit 100 %}%;"
                                                         aria-valuenow="{{ service.registrations.all.count }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="{{ service.people_limit }}">
                                                    </div>
                                                </div>
                                            </dd>
                                        {% endif %}
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tab-pane fade" id="nav-avail-working-group" role="tabpanel"
                     aria-labelledby="nav-avail-working-group-tab">

                    {% for service in social_services_working_group %}
                        <div class="card col-12 my-2">
                            <div class="card-body">
                                <h5 class="card-title text-primary">{{ service.name }}</h5>
                                <p class="card-text">
                                    {% if user.person in service.registrations.all %}
                                        <a href="{% url 'unregister_social_service' service.id %}"
                                           class="btn btn-outline-secondary">Unregister</a>
                                    {% else %}
                                        <a href="{% url 'register_social_service' service.id %}"
                                           class="btn btn-outline-primary">Register</a>
                                    {% endif %}
                                    <a href="{% url 'admin:association_socialservice_change' service.id %}"
                                       class="btn btn-outline-dark" role="button"
                                       target="_blank"><span
                                            data-feather="settings"></span> Manage</a>
                                </p>
                                <p class="card-text">
                                <dl class="row">
                                    <dt class="col-sm-2">When</dt>
                                    <dd class="col-sm-10">
                                        {% if service.time %}{{ service.time }}{% else %}
                                            Timeless{% endif %}
                                    </dd>
                                    <dt class="col-sm-2">What</dt>
                                    <dd class="col-sm-10">{{ service.description|linebreaksbr }}</dd>

                                    <dt class="col-sm-2">Who is responsible</dt>
                                    <dd class="col-sm-10">{{ service.responsible_working_group }}
                                        {% if service.people_limit is not undefined %}
                                            <dt class="col-sm-2">How many</dt>
                                            <dd class="col-sm-10">{{ service.registrations.all.count }}
                                                / {{ service.people_limit }}
                                            </dd>

                                            <dd class="col-sm-10">
                                                <div class="progress">
                                                    <div class="progress-bar"
                                                         role="progressbar"
                                                         style="width: {% widthratio service.registrations.all.count service.people_limit 100 %}%;"
                                                         aria-valuenow="{{ service.registrations.all.count }}"
                                                         aria-valuemin="0"
                                                         aria-valuemax="{{ service.people_limit }}">
                                                    </div>
                                                </div>
                                            </dd>
                                        {% endif %}
                                </dl>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nav-history" role="tabpanel"
                     aria-labelledby="nav-history-tab">

                    <ul class="list-group mt-2">
                        {% for registration in user_registrations %}
                            <li class="list-group-item">{{ registration.social_service.time|date:"D, d M, Y" }}
                                {% if registration.social_service_period %}
                                    (belongs to {{ registration.social_service_period }})
                                {% endif %}
                                - {{ registration.social_service.name }}
                                {% if registration.verified %}
                                    (verified <span data-feather="check"></span>)
                                {% else %}
                                    (not verified <span data-feather="slash"></span>)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
