{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Wi-Fi Access</h5>
                    <p class="card-text">
                        We provide two Wi-Fi networks with the following names:
                    <ul>
                        <li><code>HiltonNet_2GHz</code></li>
                        <li><code>HiltonNet_5GHz</code></li>
                    </ul>
                    The password for both networks is <code>Turmstrasse1</code>. <br>
                    For more information about the Wi-Fi you can read <a
                        href="https://cloud.hilton.rwth-aachen.de/index.php/s/JZbrwGi8wAekb8t">this
                    pdf</a>
                    <a href="https://cloud.hilton.rwth-aachen.de/index.php/s/PbGGLQxecJddi9r">(german)</a>.
                    </p>
                </div>
            </div>


        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Ethernet Access</h5>
                    <p class="card-text">Add your Ethernet-MAC addresses (not WLAN or
                        Bluetooth or similar)
                        down below.</p>
                    <p class="card-text">(Re-)Connect your device with an Ethernet
                        cable.</p>
                    <p class="card-text">If you have an Access Point (AP) in your
                        room, you have to use the ports of
                        the AP and you can't use the port in the wall.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3 border-bottom" style="padding-top: 30px">
        <h1 class="h2">Add MAC Addresses</h1>
    </div>

    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{% static "images/logo_windows.jpg" %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Windows</h5>
                    <div class="card-text">
                        <ol>
                            <li>Open the <i>Settings</i> App.</li>
                            <li>Click on <i>Network & Internet</i>.</li>
                            <li>Select <i>Ethernet</i>.</li>
                            <li>Windows 10: Click on <i>Network X</i>.</li>
                            <li>At the bottom of the page the <i>Physical address
                                (MAC)</i> is listed.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{% static "images/logo_ubuntu.png" %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ubuntu (Linux)</h5>
                    <div class="card-text">Finding the MAC address varies across the
                        different Linux/Unix
                        operating
                        systems.
                        In many systems, the commands <b>ifconfig -a</b> or <b>ip
                            address</b> will return the MAC address
                        after link/ether of your particular network device.
                        If this does not work, please refer to the instruction manuals
                        available from your
                        particular operating system.
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{% static "images/logo_apple.jpg" %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mac OS X</h5>
                    <div class="card-text">
                        <ol>
                            <li>Click on the WiFi sysbol in the menu bar.</li>
                            <li>Select <i>Open Network Preferences...</i></li>
                            <li>Select <i>Ethernet</i> at the left list and click on the
                                button <i>Advanced...</i></li>
                            <li>Go to the tab <i>Hardware</i> and copy the MAC Address
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-cols-1 row-cols-lg-2 mt-3">
        <div class="col">
            <div class="card" style="border: none">
                {% if macs %}
                    {% csrf_token %}
                    <script>
                        function saveDeviceName(id) {
                            const name = document.getElementById("device-name-" + id)
                            const csrf = document.getElementsByName("csrfmiddlewaretoken")[0]
                            $.ajax({
                                type: 'POST',
                                url: `/networking/macs/${id}/change_device_name/`,
                                data: jQuery.param({
                                    csrfmiddlewaretoken: csrf.value,
                                    device_name: name.value,
                                }),
                                success: function (response) {
                                    document.getElementById(`save-${id}`).setAttribute('disabled', 'true');
                                },
                                error: function () {
                                    alert("Error");
                                }
                            });
                        }
                    </script>
                    <ul class="list-group">
                        {% for mac in macs %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div style="min-width: 19ex"> {{ mac }} </div>
                                {% if mac.blocked %}
                                    <span>Banned!</span>
                                    Name: {{ mac.device_name }}
                                {% else %}
                                    <input type="text" id="device-name-{{ mac.id }}"
                                           class="form-control"
                                           placeholder="Device Name" title="Device Name"
                                           value="{{ mac.device_name | default_if_none:'' }}"
                                           onkeydown="if (event.keyCode == 13) saveDeviceName({{ mac.id }}); else document.getElementById(`save-{{ mac.id }}`).removeAttribute('disabled')">
                                    <button class="btn btn-success btn-small ms-1"
                                            id="save-{{ mac.id }}"
                                            onclick="saveDeviceName({{ mac.id }})"
                                            disabled>
                                        Save
                                    </button>
                                    <a class="btn btn-outline-danger ms-1"
                                       href="/networking/macs/{{ mac.id }}/delete">
                                        <span data-feather="trash-2"></span></a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <form action="/networking/macs/" method="post" class="form mt-2 p-3"
                      style="border: 1px solid rgba(0,0,0,.125);border-radius: .25rem;">
                    {% csrf_token %}
                    {% bootstrap_form mac_form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary" name="mac_form">
                            <span data-feather="plus"></span> Add MAC address
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

        <div class="col">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pi-hole ad-blocker</h5>
                    <p class="card-text">Pi-hole is a DNS sinkhole that protects your
                        devices from unwanted
                        content, without installing any client-side software.
                        Pi-hole has the ability to block traditional website
                        advertisements as well as advertisements
                        in unconventional places, such as smart TVs and mobile operating
                        system advertisements.</p>
                    <form action="{% url 'macs' %}" method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form pi_hole_form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-warning" name="adblock">
                                <span data-feather="alert-triangle"></span>
                                Save changes
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Regarding private WLAN access points</div>
                <div class="card-body">
                    <h5 class="card-title">Private WLAN access points (routers) are not
                        permitted!</h5>
                    <p class="card-text">Such devices can be banned anytime. Why?
                        Since we are connected to the research network it is strictly
                        forbidden to set up access
                        points that could be shared with none-researchers.
                        Those are the rules of the university which we will respect.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Port Forwardings</h5>
                    <p class="card-text">Keep in mind that the port forwardings are only
                        available in the rwth network.
                        If you want to use your port forwarding outside of the rwth
                        network, you have to use the rwth
                        vpn. <br>
                        Existing port forwardings:
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for f in port_forwardings %}
                            <tr>
                                <td>
                                    <code>134.130.55.{{ vlan_id }}:{{ f.source_port }}</code>
                                </td>
                                <td>
                                    <code>10.72.{{ vlan_id }}.{{ f.destination_ip }}:{{ f.destination_port }}</code>
                                </td>
                                <td style="padding-top: 6px">
                                    <a class="btn btn-outline-danger btn-sm ms-1"
                                       href="/networking/forwarding/{{ f.id }}/delete">
                                        <span data-feather="trash-2"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    Add port forwarding from
                    134.130.55.{{ vlan_id }}:<code>source_port</code> to
                    10.72.{{ vlan_id }}.<code>destination_ip</code>:<code>destination_port</code>
                    </p>
                    <form action="{% url 'macs' %}" method="post" class="form" novalidate>
                        {% csrf_token %}
                        {% bootstrap_form port_forwarding_form layout="horizontal" %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary"
                                    name="port_forwarding">
                                Add Port-Forwarding
                            </button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
