{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-3">
                    <h1 class="display-4">Welcome to HiltonNet</h1>
                    <p class="lead">This network is provided by the networking group of
                        the
                        dorm.</p>
                    {% if not membership %}
                        <p class="lead">
                            To use the network, you have to be a member of the Turmstraße
                            1
                            e.V.
                            {% if user %}
                                To become a member, you have to register yourself
                                <a href="/association/membership/">here</a>.
                                After you have handed in your registration, the
                                registration
                                is
                                checked and after 1-3 days
                                you can use the internet.
                            {% endif %}
                        </p>
                    {% endif %}
                    {% if not user and not mac_blocked %}
                        <hr class="my-4">
                        <p class="lead">
                            <a href="{{ login_url }}" class="btn btn-primary btn-lg"
                               role="button">Login to proceed</a>
                        </p>
                    {% endif %}
                    {% if mac_blocked %}
                        <div class="alert alert-danger" role="alert">
                            Your current MAC address was blocked. We suspect that the MAC
                            address
                            belongs to a router.
                            Setting up an own router is prohibited. If the MAC address
                            does
                            not
                            belong to a router, please
                            take a picture of the device and
                            <a href="mailto:{{ network_mail }}?subject=My mac address {{ mac }} was blocked&body=Hi,%0D%0A%0D%0AI attached a picture of my network device which is not a router.%0D%0A%0D%0ABest regards,%0D%0A{{ user.person }}">
                                send it to the networking group</a>.
                        </div>
                    {% elif membership %}
                        {% if membership.is_already_invoice_network_running %}
                            <div class="alert alert-success" role="alert">
                                You currently have internet because you paid your fees.
                            </div>
                        {% elif membership.has_joined_recently %}
                            <div class="alert alert-success" role="alert">
                                You have internet because you joined the Turmstraße 1 e.V.
                                in
                                the
                                last 14 days.
                            </div>
                        {% elif membership.primary_internet_access %}
                            <div class="alert alert-success" role="alert">
                                You have internet because you have "primary internet
                                access"
                                until {{ membership.primary_internet_access_end }} with
                                the
                                following
                                note: {{ membership.primary_internet_access_note }}
                            </div>
                        {% elif not membership.has_network_access %}
                            <div class="alert alert-danger" role="alert">
                                You don't have internet access! See <a
                                    href="/association/membership/">here</a> for details.
                            </div>
                        {% endif %}
                    {% elif user %}
                        <div class="alert alert-danger" role="alert">
                            You don't have internet because you are not a member of
                            Turmstraße
                            1
                            e.V.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if user %}
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Wi-Fi Access</h5>
                        <p class="card-text">
                            We provide two Wi-Fi networks with the following names:
                        <ul>
                            <li><code>HiltonNet_2GHz</code></li>
                            <li><code>HiltonNet_5GHz</code></li>
                        </ul>
                        The password for both networks is <code>Turmstrasse1</code>. <br>
                        For more information about the Wi-Fi you can read <a
                            href="https://cloud.hilton.rwth-aachen.de/index.php/s/PbGGLQxecJddi9r">this
                        pdf (german)</a>.
                        </p>
                        <h5 class="card-title">iPhone, iPad and Apple Watch Users</h5>
                        <p class="card-text">
                            If you use one of these devices <a
                                href="https://support.apple.com/en-us/HT211227">private
                            Wi-Fi addresses</a> (<a
                                href="https://support.apple.com/de-de/HT211227">private
                            WLAN-Adresse</a>) is enabled by default. This feature
                            generates a new MAC address for
                            each
                            Wi-Fi network, which means that you have to register both. If
                            you don't use
                            one of these networks for 6 weeks, the MAC address changes and
                            you have to register the new MAC address again. How to disable
                            this
                            feature is explained <a
                                href="https://support.apple.com/en-us/HT211227">here</a>.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Ethernet Access</h5>
                        <p class="card-text">
                            Each room has two ethernet ports, but one of these ports is
                            disabled. If your room was
                            upgraded, the port has 1 Gbit, otherwise 100 Mbit. <br>
                            If you have an Access Point (AP) in your room, you have to use
                            the ports of the AP and
                            you
                            can't use the port in the wall.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
