{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}

    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col">
            <div class="card h-100">
                <a href="https://cloud.hilton.rwth-aachen.de/">
                    <img class="bd-placeholder-img card-img-top" style="height: 130px; object-fit: contain"
                         src="{% static "images/logo_nextcloud.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Cloud Storage</h5>
                    <p class="card-text">Nextcloud is like OneDrive or Google Drive but hosted in our basement.
                        You can share files and host your own calendar.
                        All files of the association and our dorm are hosted here.
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="https://support.apple.com/de-de/104984">
                    <img class="bd-placeholder-img card-img-top" style="height: 130px; object-fit: contain"
                         src="{% static "images/logo_timemachine.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Time Machine</h5>
                    <p class="card-text">Time Machine is the build in backup functionality of macOS.
                        You can use our Time Machine Server to create backups of your Mac.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="https://proxmox.hilton.rwth-aachen.de/">
                    <img class="bd-placeholder-img card-img-top mt-1" style="height: 110px; object-fit: contain"
                         src="{% static "images/logo_vmcontainer.png" %}"
                         alt="Card image cap">
                </a>
                <div class="card-body">
                    <h5 class="card-title">VM Container</h5>
                    <p class="card-text">We have four servers running Proxmox. With Proxmox we can create VMs and Containers.
                    If you need a Linux/Windows VM or want to run some software on a server, you can write us.</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="pb-2 mb-3 mt-4 border-bottom">
        Used Software and Technologies
    </h2>
    <div id="please_layout" class="row">
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://www.proxmox.com/de/">
                    <img class="bd-placeholder-img card-img-top p-3 pb-0" src="{% static "images/logo_proxmox.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Proxmox</h5>
                    <p class="card-text">Proxmox is installed on our four servers.
                        It offers a web-based user interface to create and manage containers and VMs.
                        Automatic backups and snapshots of the containers are also handled by Proxmox.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://www.djangoproject.com/">
                    <img class="bd-placeholder-img card-img-top" style="height: 130px; object-fit: contain"
                         src="{% static "images/logo_django.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Django</h5>
                    <p class="card-text">This website is build using Django.
                        Django is a python framework to build websites and has a easy to use ORM to work with a database.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://grafana.com/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_grafana.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Grafana</h5>
                    <p class="card-text">We use Grafana to create nice looking dashboards and visualisations.
                        The graphs on the <a href="/networking/status/">Network Status</a> page are created with Grafana.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://www.iredmail.org/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_iredmail.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">IRedMail</h5>
                    <p class="card-text">
                        We run an own mail server for the @hilton.rwth-aachen.de addresses.
                        IRedMail provides a complete package with web interface, SPAM filtering and more.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://www.zabbix.com/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_zabbix.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Zabbix</h5>
                    <p class="card-text">Zabbix monitors all our services, servers and network infrastructure and
                        creates alters if something bad happens. Zabbix also provides the data for the graphs in Grafana.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://www.debian.org/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_dabian.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Debian</h5>
                    <p class="card-text">We use Debian as default operating system for all our services and servers.
                        It is a free and open-source Linux distribution known for its stability and versatility.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://esphome.io/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_esphome.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">ESPHome</h5>
                    <p class="card-text">We use ESPHome to program our ESP microcontrollers.
                        The microcontrollers have WiFi and are used to read sensors and control actors.
                        The controller for the fitness room and several iot temperature sensors are configured via ESPHome.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://freeradius.org/">
                    <img class="bd-placeholder-img card-img-top" style="height: 130px; object-fit: contain"
                         src="{% static "images/logo_freeradius.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">FreeRADIUS</h5>
                    <p class="card-text">FreeRADIUS is used to authenticate the user devices when you connect with our network (LAN or WiFi).
                        WiFi Access Points or the switches send a RADIUS request to our RADIUS server if you connect to them.
                        The RADIUS server then asks our verwaltungs-website if the user is known and should get internet access.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://about.gitlab.com/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_gitlab.png" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">GitLab</h5>
                    <p class="card-text">All our code is on gitlab. We use CI to verify that new code is bug free and
                    automatically deploys the new version to the server.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://www.home-assistant.io/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_homeassistant.jpg" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Home Assistant</h5>
                    <p class="card-text">Our IOT devices are managed via Home Assistant.
                        ESPHome devices are automatically detected and integrations for nearly everything exists.
                        For example, we use automation to turn on the ice cube maker in our bar an hour before the bar opens.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://mosquitto.org/">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_mqtt" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">MQTT Broker</h5>
                    <p class="card-text">MQTT is a lightweight protocol for communicating with IoT devices.
                        For example the Verwaltungs website sends a command to open the fitness room to the
                        corresponding microcontroller when you send the corresponding command to our Telegram bot.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="card">
                <a href="https://core.telegram.org/bots">
                    <img class="bd-placeholder-img card-img-top" src="{% static "images/logo_telegrambot.jpg" %}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Telegram Bot</h5>
                    <p class="card-text">We have several telegram bots. One to open the gym, for example.
                        Others to inform members of the networking group about problems, and a bot for the Symposion members.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    ></script>
    <script>
        const el = document.getElementById("please_layout");
        const msnry = new Masonry(el, {
            percentPosition: true,
        });
        for (let e of document.getElementsByTagName("img")) {
            e.onload = () => msnry.layout();
        }
    </script>

    <div class="row mt-2 pt-4 border-top">
        <div class="col-12">
            <iframe src="https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&layers=1&nav=1#R{{ encoded_content }}"
                    width="100%" height="600" frameborder="0" allow="fullscreen"></iframe>
        </div>
    </div>

{% endblock %}
