{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="alert alert-secondary" role="alert">
            For security reasons this site is only accessible within the RWTH network.
        </div>
        <div class="row">
            <div class="col-md-12">
                Website Version:
                <pre><p class="text-secondary text">{{ git.tag }}</p></pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://grafana.hilton.rwth-aachen.de/d-solo/-PYru0_mz9/networking2?orgId=2&panelId=2" width="100%" height="450" frameborder="0"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <iframe src="https://grafana.hilton.rwth-aachen.de/d-solo/-PYru0_mz9/networking?orgId=2&refresh=30s&panelId=66" width="100%" height="650" frameborder="0"></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <iframe src="https://grafana.hilton.rwth-aachen.de/d-solo/-PYru0_mz9/networking2?orgId=2&panelId=28" width="100%" height="350" frameborder="0"></iframe>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 my-3">
                <style>
                    .table tbody td, .table tbody th {
                        border-top: 1px solid #cfd1d2;
                    }
                </style>
                <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
                <iframe id="noc" src="/networking/noc/aps" onload="replaceContent()" style="display: none;"></iframe>
                <script>
                    function replaceContent(){
                        const noc = document.getElementById("noc");
                        noc.outerHTML = noc.contentDocument.getElementsByTagName("table")[0].outerHTML;
                    }
                </script>
            </div>
        </div>

    </div>

{% endblock %}
