{% load static %}
{% load bootstrap5 %}
{% load has_group %}
{% load main_has_group %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
        <!-- Generated with https://realfavicongenerator.net -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
        <link rel="icon" href="{% static "favicon/favicon.svg" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% static "favicon/browserconfig.xml" %}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    <link crossorigin="anonymous" href="{% static "bootstrap@5.2.3.min.css" %}"
          rel="stylesheet">
    <script crossorigin="anonymous" src="{% static "jquery-3.5.1.min.js" %}"></script>
    <script crossorigin="anonymous"
            src="{% static "bootstrap@5.2.3.bundle.min.js" %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static "dashboard.css" %}" rel="stylesheet">
    <link href="{% static "datatables@bt5.min.css" %}" rel="stylesheet">
    <link href="{% static 'flags/sprite.css' %}" rel="stylesheet">
    <title>Student Dorm "Turmstraße 1"</title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand ps-3 col-12 col-md-3 col-xl-2" href="#">Dorm "Turmstraße 1"</a>
    <form class="bd-search d-flex align-items-center">
        <button class="btn btn-link menu-burger bd-search-docs-toggle d-md-none p-0 ms-3"
                type="button"
                onclick=" if(window.scrollY<window.innerHeight||!$('#sidebar-nav').hasClass('show')){$('#sidebar-nav').collapse('toggle');} $('html, body').animate({scrollTop:0},'fast');"
                data-bs-target="#sidebar-nav" aria-controls="sidebar-nav"
                aria-expanded="false"
                aria-label="Toggle docs navigation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30"
                 height="30" focusable="false"><title>
                Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round"
                      stroke-miterlimit="10"
                      d="M4 7h22M4 15h22M4 23h22"></path>
            </svg>
        </button>
    </form>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
            {% endif %}
        </li>
    </ul>
</nav>

<style>

    .bd-sidebar {
        order: 0;
        background-color: #f8f9fa;
        border-bottom: 1px solid rgba(0, 0, 0, .1);

    }

    .menu-burger {
        color: white !important;
    }

    .bd-sidebar .nav-link {
        color: #333;
    }

    .bd-sidebar .nav-link.active {
        color: #007bff;
    }

    @media (min-width: 768px) {
        .bd-sidebar {

            position: fixed;

            z-index: 1000;
            height: 100vh;
            top: 2.5rem;
            bottom: 0;
            border-right: 2px solid rgba(0, 0, 0, .1);
        }
    }

    /* Override collapse behaviors*/
    @media (min-width: 768px) {
        .show-always-on-desktop {
            display: block !important;
            height: calc(100vh - 48px);
            overflow-y: auto;
            top: 0;
            padding-top: .5rem;
            position: relative;

        }
    }

</style>

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 " style="padding: 0px">
            <div class="bd-sidebar col-12 col-md-3 col-xl-2">
                <nav id="sidebar-nav" class=" visible-xs collapse show-always-on-desktop">
                    <ul class="nav flex-column">
                        {% if request.user.is_authenticated %}
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>General Information</span>
                            </h6>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Profile' %} active {% endif %}"
                                   href="{% url 'profile' %}">
                                    <span data-feather="user"></span>
                                    Personal Information
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Contacts' %} active {% endif %}"
                                   href="{% url 'contacts' %}">
                                    <span data-feather="users"></span>
                                    Contact People
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Tenant List' %} active {% endif %}"
                                   href="{% url 'tenant_list' %}">
                                    <span data-feather="users"></span>
                                    Tenant List
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Calendar' %} active {% endif %}"
                                   href="{% url 'calendar' %}">
                                    <span data-feather="calendar"></span>
                                    Calendar
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Telegram Groups' %} active {% endif %}"
                                   href="{% url 'telegram_groups' %}">
                                    <span data-feather="send"></span>
                                    Telegram Groups
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Downloads' %} active {% endif %}"
                                   href="https://cloud.hilton.rwth-aachen.de/index.php/s/JFNMTzJmW5YBFHf"
                                   target="_blank">
                                    <span data-feather="download"></span>
                                    Downloads
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Laundry Room Timetable' %} active {% endif %}"
                                   href="{% url 'timetable' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="40 -900 900 960"
                                         width="16px" fill="#333">
                                        <path d="M263.72-96Q234-96 213-117.15T192-168v-624q0-29.7 21.16-50.85Q234.32-864 264.04-864h432.24Q726-864 747-842.85T768-792v624q0 29.7-21.16 50.85Q725.68-96 695.96-96H263.72Zm.28-72h432v-624H264v624Zm216.2-72q69.8 0 118.8-49.2t49-119q0-69.8-49.2-118.8t-119-49Q410-576 361-526.8t-49 119q0 69.8 49.2 118.8t119 49Zm-.28-72q-18.92 0-36.57-7-17.66-7-31.35-21l136-136q14 13.77 21 31.53t7 36.6Q576-368 547.98-340q-28.02 28-68.06 28ZM347.79-672q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5Zm120 0q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5ZM264-168v-624 624Z"/>
                                    </svg>
                                    Laundry Room
                                </a>
                            </li>
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>Turmstraße 1 e.V.</span>
                            </h6>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Membership' %} active {% endif %}"
                                   href="{% url 'membership' %}">
                                    <span data-feather="award"></span>
                                    Membership & Internet Access
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Payments & Invoices' %} active {% endif %}"
                                   href="{% url 'finances' %}">
                                    <span data-feather="dollar-sign"></span>
                                    Payments & Invoices
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Social Service' %} active {% endif %}"
                                   href="{% url 'social' %}">
                                    <span data-feather="home"></span>
                                    Social Service
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Game Rental' %} active {% endif %}"
                                   href="{% url 'games' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16px"
                                         viewBox="0.5 2 23 23"
                                         width="16px" fill="#000000">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z"/>
                                        <circle cx="7.5" cy="16.5" r="1.5"/>
                                        <circle cx="7.5" cy="7.5" r="1.5"/>
                                        <circle cx="12" cy="12" r="1.5"/>
                                        <circle cx="16.5" cy="16.5" r="1.5"/>
                                        <circle cx="16.5" cy="7.5" r="1.5"/>
                                    </svg>
                                    Game Rental
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Internet Access' %} active {% endif %}"
                                   href="{% url 'macs' %}">
                                    <span data-feather="wifi"></span>
                                    WiFi & LAN
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Our Services for You' %} active {% endif %}"
                                   href="{% url 'services' %}">
                                    <span data-feather="globe"></span>
                                    Netz AG Services
                                </a>
                            </li>
                            {% if request.user|can_use_printer %}
                                <li class="nav-item">
                                    <a class="nav-link {% if title == 'Printer' %} active {% endif %}"
                                       href="{% url 'print' %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960"
                                             width="16px" fill="#000000">
                                            <path d="M648-624v-120H312v120h-72v-192h480v192h-72Zm-480 72h625-625Zm539.79 96q15.21 0 25.71-10.29t10.5-25.5q0-15.21-10.29-25.71t-25.5-10.5q-15.21 0-25.71 10.29t-10.5 25.5q0 15.21 10.29 25.71t25.5 10.5ZM648-216v-144H312v144h336Zm72 72H240v-144H96v-240q0-40 28-68t68-28h576q40 0 68 28t28 68v240H720v144Zm73-216v-153.67Q793-530 781-541t-28-11H206q-16.15 0-27.07 11.04Q168-529.92 168-513.6V-360h72v-72h480v72h73Z"/>
                                        </svg>
                                        Printer
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Network Status' %} active {% endif %}"
                                   href="{% url 'status' %}">
                                    <span data-feather="bar-chart-2"></span>
                                    Network Status
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Hilton Statistics' %} active {% endif %}"
                                   href="{% url 'statistics' %}">
                                    <span><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class="feather"><g><path d="M21 21H4.5A2.32 2.32 0 0 1 2 18.5V4a1 1 0 0 1 2 0v14.5c0 .449.051.5.5.5H21a1 1 0 0 1 0 2zM7.707 14.707 11 11.412l1.606 1.594A2 2 0 0 0 15.435 13l4.273-4.292a1 1 0 1 0-1.416-1.412l-4.274 4.293-1.606-1.596a2 2 0 0 0-2.824 0l-3.295 3.3a1 1 0 1 0 1.414 1.414z" fill="#000000" opacity="1" data-original="#000000" class=""></path></g></svg></span>
                                    Statistics
                                </a>
                            </li>
                            {% if request.user|should_see_finances_dashboard %}
                                <li class="nav-item">
                                    <a class="nav-link {% if title == 'Finance Dashboard' %} active {% endif %}"
                                       href="{% url 'dashboard' %}">
                                        <span data-feather="layout"></span>
                                        Finance Dashboard
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Cloud' %} active {% endif %}"
                                   href="{% url 'cloud' %}">
                                    <span data-feather="cloud"></span>
                                    Cloud Storage
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Email Distributor' %} active {% endif %}"
                                   href="{% url 'email' %}">
                                    <span data-feather="mail"></span>
                                    Send Email
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if title == 'Room Administration Management' %} active {% endif %}"
                                   href="{% url 'room_administration' %}">
                                    <span data-feather="users"></span>
                                    Room Administration
                                </a>
                            </li>
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                                <span>External Sites</span>
                            </h6>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="https://helpdesk.hilton.rwth-aachen.de/"
                                   target="_blank">
                                    <span data-feather="help-circle"></span>
                                    Helpdesk
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'admin:index' %}">
                                    <span data-feather="settings"></span>
                                    Administration
                                </a>
                            </li>
                            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            </h6>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}"
                                   target="_blank">
                                    <span data-feather="log-in"></span>
                                    Login
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% if title == 'Privacy Policy' %} active {% endif %}"
                               href="https://www.hilton.rwth-aachen.de/de/impressum-3/"
                               target="_blank">
                                <span data-feather="lock"></span>
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <main role="main"
              class="col-12 col-md-9 col-xl-8 pl-md-5 bd-content {% if compact %} pt-1 {% else %} py-md-3 {% endif %}">
            <div class="container {% if compact %} px-0 px-md-2 {% endif %}">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center {% if not compact %} pb-2 {% endif %} mb-3 border-bottom">
                    <h1 class="h2">{{ title }}</h1>
                </div>

                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message | safe }}</div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
</div>


<script src="{% static "jquery.dataTables.min.js" %}"></script>
<script src="{% static "datatables@bt5.min.js" %}"></script>
<!-- Icons -->
<script src="{% static "feather-icons@4.28.0.min.js" %}"></script>
<script>
    feather.replace()
</script>
</body>
</html>

