{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card text-white bg-info">
                <div class="card-body">
                    <h5 class="card-title">Recurring Events</h5>
                    <ul class="card-text pl-3">
                        <li>Our pub "Symposion" usually opens Wednesdays each two weeks
                            (corresponds to the first
                            and third Wednesday of the month).
                        </li>
                        <li>Meeting of the networking group usually each thursday evening
                            at 8PM in room K14 or in
                            the pub.
                        </li>
                        <li>The new tenant bar is offered every two months. Usually on the
                            first Wednesday of the
                            month.
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            {% for event in events %}
                <div class="card">
                    <div class="card-header">
                        {{ event.time }}
                        {% if event.show_as_event %}
                            <a href="{% url 'calendar_remind' 1 event.id %}"><span
                                    class="float-sm-end"
                                    data-feather="bell"></span></a>
                        {% else %}
                            <a href="{% url 'calendar_remind' 0 event.id %}"><span
                                    class="float-sm-end"
                                    data-feather="bell"></span></a>
                        {% endif %}

                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><span {% if event.canceled %}
                            style="text-decoration: line-through" {% endif %} >{{ event.name }}</span>
                            {% if event.canceled %}(Abgesagt){% endif %}</h5>
                        <p class="card-text" {% if event.canceled %}
                           style="text-decoration: line-through" {% endif %} >{{ event.description|linebreaksbr }}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <iframe frameborder="0"
                src="https://cloud.hilton.rwth-aachen.de/index.php/apps/calendar/embed/ocqoB6kTabsMYz2C"
                style="height:65vh;" class="col-12"></iframe>
    </div>
{% endblock %}
