{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row">
        <div class="col 12">
            <div class="p-3 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-4">Code of Conduct</h1>
                    <p class="lead">No spam, no ads. Only dorm related stuff. Try to
                        minimize
                        the amount of
                        receivers.</p>
                    <hr class="my-4">
                    <p>Note that we monitor outgoing emails carefully. Violations will
                        result
                        in a ban. Tenants can
                        decide whether they want to be included in the email distributor.
                        You
                        can change your settings
                        in your profile.</p>
                </div>
            </div>
        </div>
    </div>
    {% if user.person.email_distributor %}
        <form action="{% url 'email' %}" enctype="multipart/form-data" method="post"
              class="form">
            {% csrf_token %}

            <div class="card-group">
                <div class="card" style="flex: initial">
                    <div class="card-body">
                        <h5 class="card-title">Select your receivers</h5>
                        <div class="card-text">
                            {% for field in form %}
                                {% if 'them' in field.name %}
                                    {% bootstrap_field field %}
                                    {#          {% else %}#}
                                    {#            {% bootstrap_field field form_group_class='col-md-6 form-group label-floating' %}#}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <script async>
                            for (let pair of window.location.search.substring(1).split("&")) {
                                const v = pair.split("=");
                                if (v.length == 2 && v[0] === "select") {
                                    for (let select of v[1].split(",")) {
                                        for (let element of document.querySelectorAll(`input[value=${select}]`)) {
                                            element.checked = true;
                                        }
                                    }
                                }
                            }
                            window.onload = () => {
                                const event_name = document.getElementById("id_event_name");
                                const event_input = document.getElementById("id_event_date");
                                event_input.type = "datetime-local";
                                const checkBox = document.getElementById("id_create_event");
                                const on_change = () => {
                                    event_name.parentElement.style.display = checkBox.checked ? "" : "none";
                                    event_input.parentElement.style.display = checkBox.checked ? "" : "none";
                                    event_name.required = checkBox.checked;
                                    event_input.required = checkBox.checked;
                                };
                                on_change();
                                checkBox.onchange = on_change;
                                document.getElementById("id_subject").onchange = (e) => {
                                    if (e.target.value.toLowerCase().indexOf("einladung zur") !== -1) {
                                        checkBox.checked = true;
                                        on_change();
                                        if (event_name.value.length === 0){
                                            event_name.value = e.target.value.substring(14);
                                        }
                                    }
                                }
                            }
                        </script>
                    </div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Write your content</h5>
                        <div class="card-text">
                            {{ form.media }}
                            {% for field in form %}
                                {% if 'them' not in field.name %}
                                    {% bootstrap_field field %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Send Email
                            </button>
                        {% endbuttons %}
                    </div>
                </div>

            </div>
        </form>
    {% else %}
        {% bootstrap_alert "You have decided not be be included in the email distributer. Change you settings in your profile first." alert_type='danger' %}
    {% endif %}

{% endblock %}
