{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="container">
                <form action="/user/login/" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <button type="submit" class="btn btn-primary">
                            Log in
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-dark mb-4">
                <div class="card-header">Issues?</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">I don't know my username</h5>
                    <p class="card-text">Try the first letter of your first name concatenated with your last name.
                        If this does not work send us an email.<br>
                        <a href="mailto:network@hilton.rwth-aachen.de">network@hilton.rwth-aachen.de</a></p>
                    <h5 class="card-title">I don't know my password</h5>
                    <p class="card-text">
                        You can reset your password <a href="/user/password_reset/">here</a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}