{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-4">
            <p>Thanks for spending some quality time with the Web site today.</p>

            <p><a href="/user/login">Log in again</a></p>
        </div>
    </div>

{% endblock %}