{% extends "base.html" %}
{% load bootstrap %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col 12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Missing Permissions!</h4>
                <p>You are not authorized to see the page you are interested in.</p>
                <p>You are either not a member of the Turmstraße 1 e.V. or you are not a
                    member of a specific
                    working group (e.g. the room administration)!</p>
                <hr>
                <p>If you want to register you can do it <a href="{% url 'register' %}"
                                                            class="alert-link">here</a>.
                </p>
                <p class="mb-0">If you think you should have corresponding permissions
                    please contact <a
                            href="mailto:network@hilton.rwth-aachen.de"
                            class="alert-link">network@hilton.rwth-aachen.de</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}