{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            <p>Your password was changed.</p>
        </div>
    </div>

{% endblock %}