{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            <p>We've emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</p>

            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
                your spam folder.</p>

            <p>Otherwise send us an email regarding your issues: <a href="mailto:network@hilton.rwth-aachen.de">network@hilton.rwth-aachen.de</a>
            </p>
        </div>
    </div>

{% endblock %}