{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            <p>Your password has been set. You may go ahead and log in now.</p>

            <p><a href="{{ login_url }}">Log in</a></p>
        </div>
    </div>

{% endblock %}