{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            {% if validlink %}

                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                <form method="post">
                    <fieldset class="module aligned">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Change my password
                            </button>
                        {% endbuttons %}
                    </fieldset>
                </form>

            {% else %}

                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset.</p>

            {% endif %}

        </div>
    </div>

{% endblock %}