{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new
                one.</p>
            <div class="card border-info mb-3">
                <div class="card-header">Important</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Make sure you type in the right address</h5>
                    <p class="card-text">The right one is probably the one you used when you did your application for
                        living here.
                        If you have no idea whatsoever, just contact ba@hilton.rwth-aachen.de and ask for help.</p>
                </div>
            </div>

            <form method="post">
                <fieldset class="module aligned">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            Reset my password
                        </button>
                    {% endbuttons %}
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}