{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="row mt-3">
        <div class="col-9">
            {% if validlink %}
                <p>Welcome on our administration website of our student dorm.
                    Before entering you have to set a password.
                    Choose a secure one and keep it in mind.</p>
                <p>Enter your password twice so we can verify you typed it in correctly.</p>

                <form method="post">
                    <fieldset class="module aligned">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">
                                Change my password
                            </button>
                        {% endbuttons %}
                    </fieldset>
                </form>

            {% else %}

                <p>The password reset link was invalid, possibly because it has already been used or expired. <br>
                    Please request a new password reset <a href="/user/password_reset/">here</a>.</p>

            {% endif %}

        </div>
    </div>

{% endblock %}