{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="row">

        <dev class="col-12 mb-3">
            {% if not jobs %}
                <ul class="list-group">
                    {% for job in jobs %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div style="min-width: 19ex"> {{ job.text }}</div>
                            <a class="btn btn-outline-danger ms-1"
                               href="/user/job/{{ job.id }}/delete">
                                Cancel</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dev>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    The black-white printer is located at the K14.
                    You can only get the printout if you have a key to the room.
                </div>
            </div>
            <br>

            <form action="{% url 'print' %}" enctype="multipart/form-data" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form print_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Print
                    </button>
                {% endbuttons %}
                <script>
                    document.getElementById('id_pdf').addEventListener('change', function (event) {
                        var file = event.target.files[0];
                        var fileURL = URL.createObjectURL(file);
                        var viewer = document.createElement('iframe');
                        viewer.setAttribute('src', fileURL);
                        viewer.setAttribute('style', 'width:100%;height:600px;');
                        var previewContainer = document.getElementById('pdf-preview-container');
                        previewContainer.innerHTML = ''; // Clear previous preview
                        previewContainer.appendChild(viewer);
                    });
                </script>
            </form>
        </div>
        <div class="col-6" id="pdf-preview-container">

        </div>
    </div>
{% endblock %}
