{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">We try to be as transparent as possible. The
                    following list contains data
                    we store about you. In case something is incorrect please <a
                            href="mailto:ba@hilton.rwth-aachen.de"
                            class="badge text-bg-primary"
                            style="text-decoration: none">contact
                        us</a>.
                </div>
            </div>
            <br>

            <form action="{% url 'profile' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                <a href="{% url 'password_reset' %}" class="btn btn-warning">Change
                    Password</a> <br><br>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Save Changes
                    </button>
                {% endbuttons %}
            </form>

        </div>

        <div class="col">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ user.last_name }}, {{ user.first_name }}</td>
                </tr>

                <tr>
                    <th scope="row">Username</th>
                    <td>{{ user.username }}</td>
                </tr>

                <tr>
                    <th scope="row">Email</th>
                    <td>{{ user.email }}</td>
                </tr>

                <tr>
                    <th scope="row">Birthday</th>
                    <td>{{ user.person.birthday }}</td>
                </tr>

                <tr>
                    <th scope="row">Nationality</th>
                    <td>{{ user.person.nationality.name }} <i
                            class="{{ user.person.nationality.flag_css }}"></i>
                    </td>
                </tr>

                <tr>
                    <th scope="row">Gender</th>
                    <td>{{ user.person.gender }}</td>
                </tr>

                <tr>
                    <th scope="row">Included in the Email Distributor</th>
                    <td>{% if user.person.email_distributor %}
                        <span data-feather="check"></span>
                    {% else %}
                        <span data-feather="slash"></span>
                    {% endif %}
                    </td>
                </tr>

                <tr>
                    <th scope="row">Subscribed to Calendar Updates</th>
                    <td>{% if user.person.has_subscribed_to_calendar %}
                        <span data-feather="check"></span>
                    {% else %}
                        <span data-feather="slash"></span>
                    {% endif %}
                    </td>
                </tr>

                <tr id="telegram">
                    <!-- so that we can use #telegram to scroll to the telegram section -->
                    <th scope="row">Signed privacy policy (STW)</th>
                    <td>{% if user.person.signed_usage_data_stw %}
                        <span data-feather="check"></span>
                    {% else %}
                        <span data-feather="slash"></span>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Studierendenwerk ID</th>
                    <td>hidden</td>
                </tr>
                <tr>
                    <th scope="row" style="vertical-align: middle;">
                        <a target="_blank" href="http://t.me/HiltonManagmentBot">Telegram
                            Bot</a>:
                    </th>
                    <td>{% if user.person.has_telegram_chat %}
                        Connected <span data-feather="check"></span>
                        <a class="btn btn-sm btn-primary ms-3"
                           href="/user/logout_telegram">Logout</a>
                    {% else %}
                        Send the message
                        <code style="background-color: #f0f0f0;border-radius: 4px;padding: 2px 4px;">/login {{ user.person.get_telegram_login_pin }}</code>
                        <!--<button class="btn btn-sm btn-dark" style="padding: 0px 4px;" onclick="copyPin()">Copy</button>-->
                        <button id="copyButton" class="badge badge-dark"
                                style="border: none" onclick="copyPin()"
                                data-bs-toggle="tooltip" data-placement="top"
                                data-trigger="click"
                                title="Copied! Now go to the bot">Copy
                        </button>
                        to<a target="_blank" href="http://t.me/HiltonManagmentBot">the
                            bot</a>

                        <script>
                            const button = $('#copyButton');
                            button.tooltip();

                            function copyPin() {
                                const text = "/login {{ user.person.get_telegram_login_pin }}";
                                navigator.clipboard.writeText(text)
                                    .then(() => {
                                        button.tooltip();
                                        button.on('mouseleave', () => button.tooltip('hide'));
                                    })
                                    .catch(() => {
                                        alert("Copying text to your clipboard failed. Please copy the text manually");
                                    });
                            }
                        </script>
                    {% endif %}
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Dorm Specific Information</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>

                {% for tenant in user_tenants %}
                    <tr>
                        <th scope="row">Tenant#{{ forloop.counter }} Status</th>
                        <td>{{ tenant.tenant_status }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tenant#{{ forloop.counter }} Room</th>
                        <td>{{ tenant.room }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Tenant#{{ forloop.counter }} Move-in Date</th>
                        <td>{{ tenant.date_move_in }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Tenant#{{ forloop.counter }} Move-out Date</th>
                        <td>{{ tenant.date_move_out }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Tenant#{{ forloop.counter }} Type</th>
                        <td>{{ tenant.tenant_type }}</td>
                    </tr>
                {% endfor %}

                {% for membership in memberships %}
                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Type</th>
                        <td>{{ membership.type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} ID</th>
                        <td>{{ membership.membership_id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Joined</th>
                        <td>{{ membership.date_join }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Left</th>
                        <td>{{ membership.date_leave }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Skipping Internet
                            Fee
                        </th>
                        <td>{% if membership.skip_internet_fee %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Internet Access
                            Manually Enabled
                        </th>
                        <td>{% if membership.primary_internet_access %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Internet Access
                            Note
                        </th>
                        <td>{{ membership.primary_internet_access_note }}</td>
                    </tr>

                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Signed fitness
                            room usage policy
                        </th>
                        <td>{% if membership.signed_usage_fitness %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Signed workshop
                            room usage policy
                        </th>
                        <td>{% if membership.signed_usage_workshop %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>


                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Signed Symposion
                            usage policy
                        </th>
                        <td>{% if membership.signed_usage_symposion %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>


                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Signed network
                            usage policy
                        </th>
                        <td>{% if membership.signed_usage_network %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">Membership#{{ forloop.counter }} Agreed to the
                            terms of the cloud service
                        </th>
                        <td>{% if membership.agreed_cloud_storage_terms %}
                            <span data-feather="check"></span>
                        {% else %}
                            <span data-feather="slash"></span>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <th scope="row">Working Groups</th>
                    <td>
                        {% for group in group_membership %}
                            {{ group.working_group.name }} ({{ group.date_join }} -
                            {% if group.date_leave is not None %}
                                {{ group.date_leave }}{% else %}today{% endif %})
                            <br>
                        {% endfor %}
                    </td>
                </tr>

                <tr>
                    <th scope="row">Transactions</th>
                    <td>
                        {% for transaction in transactions %}
                            {{ transaction.transaction.date|date:"d.m.Y" }} |
                            {{ transaction.amount }}
                            {% if transaction.transaction.note %} | {{ transaction.transaction.note }}{% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th scope="col">Network Information</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">MAC Addresses</th>
                    <td>
                        {% for mac in macs %}
                            {{ mac.mac }} ({{ mac.device_name }}), not banned:
                            {% if not mac.blocked %}
                                <span data-feather="check"></span>
                            {% else %}
                                <span data-feather="slash"></span>
                            {% endif %}<br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Cloud Storage Quota</th>
                    <td>{{ user.person.cloud_quota }} <br>
                        Contact us in case you need an upgrade.
                    </td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}
