{% extends "base.html" %}
{% load bootstrap %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    {{ form.media }}
    <div class="row">
        <div class="col-12 col-lg-6">
            <form action="{% url 'room_administration' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form person_form %}
                {% bootstrap_form tenant_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}