{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}

{% block content %}
    <div class="col 12">
        <div class="p-3 mb-4 bg-light rounded-3">
            <p class="lead">Telegram is a messenger similar to WhatsApp. Below you can
                find some groups you can join. There
                is one main group and some specific ones so that the main one does not get
                bloated with messages that are
                only relevant for a smaller subset of members.
            </p>
            <hr class="my-4">
            <p>Working groups usually maintain private Telegram groups. You will be
                invited if you are authorized.</p>

        </div>
    </div>

    {% for group in groups %}
        <div class="card mb-3">
            {% if group.card_header_text %}
                <div class="card-header">
                    {{ group.card_header_text }}
                </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ group.title }}</h5>
                <p class="card-text">{{ group.text }}</p>
                <a target="_blank" rel="noopener noreferrer"
                   href="{{ group.telegram_link }}"
                   class="btn btn-primary">{{ group.telegram_button_text }}</a>
                {% if group.discord_link %}
                    <a target="_blank" rel="noopener noreferrer"
                       href="{{ group.discord_link }}" class="btn btn-primary">Join
                        Discord</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
