{% extends "base.html" %}
{% load bootstrap5 %}
{% load djmoney %}
{% load static %}

{% block content %}
    <table id="tenant-list-table" class="table">
        <thead>
        <tr class="table-primary">
            <th scope="col">Tenant</th>
            <th scope="col">Room</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        {% for tenant in tenants %}
            <tr>
                <th scope="row">{{ tenant.person.full_name }}</th>
                <td>{{ tenant.room }}</td>
                <td>{{ tenant.tenant_status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <script>
        $(document).ready(function () {
            $('#tenant-list-table').DataTable({
                "aLengthMenu": [[50, 100, -1], [50, 100, "All"]],
                "iDisplayLength": -1
            });
        });
    </script>

{% endblock %}