{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block favicon %}
    <!-- Generated with https://realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon-laundry-room/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-laundry-room/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-laundry-room/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon-laundry-room/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "favicon-laundry-room/safari-pinned-tab.svg" %}" color="#5bbad5">
    <link rel="shortcut icon" href="{% static "favicon-laundry-room/favicon.ico" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{% static "favicon-laundry-room/browserconfig.xml" %}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block content %}
    {% include "./timetable.html" %}
    <script>
        // Reload page after 30 minutes
        setTimeout(() => {
            window.location.reload();
        }, 1000 * 60 * 30);
    </script>
{% endblock %}
