{% load static %}
<style>
    /* CSS inspired from https://calendar.google.com/ */
    .cal-root {
        display: flex;
        flex-direction: column;
        height: calc(100dvh - 4.25rem - 48px);
    }

    @media (max-width: 768px) {
        .cal-root {
            height: calc(100dvh - 3.75rem - 85px);
        }
    }

    .cal-container {
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: scroll;
        width: 100%;
        position: relative;
    }

    .cal-column-container {
        flex: none;
        display: inline-flex;
        position: relative;
        min-width: 100%;
        -webkit-user-select: none; /* Safari */
        user-select: none;
    }

    .cal-header-row {
        align-items: stretch;
        flex: 0 0 content;
    }

    .cal-row {
        height: 40px;
    }

    .cal-row::after {
        content: "";
        border-bottom: rgb(218, 220, 224) 1px solid;
        position: absolute;
        width: calc(100% - 2.75rem);
        margin-bottom: -1px;
    }

    .cal-time-marker {
        position: absolute;
        left: 2.75rem;
        right: 0;
        border-top: rgb(234, 67, 53) solid 1px;
        pointer-events: none;
        z-index: 100;
    }

    .cal-time-dot {
        position: absolute;
        left: 2.75rem;
        z-index: 100;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-left: -5px;
        margin-top: -4.5px;
        background: rgb(234, 67, 53);
    }

    .cal-time-column {
        width: 2.75rem;
        flex-shrink: 0;
    }

    .cal-time-row {
        height: 40px;
        position: relative;
        padding-right: 4px;
    }

    .cal-time {
        position: relative;
        display: block;
        font-variant-numeric: tabular-nums;
        color: #70757a;
        pointer-events: none;
        line-height: 1rem;
        top: -7px;
    }

    .cal-column {
        flex: 1 1 auto;
        position: relative;
        border-right: rgb(218, 220, 224) 1px solid;
    }

    .cal-column:nth-child(2) {
        border-left: rgb(218, 220, 224) 1px solid;
    }

    .cal-header {
        flex: 1 1 auto;
        position: relative;
        height: auto;
        width: 80px;
        text-align: center;
        cursor: pointer;
    }

    .cal-header-pin {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 30px;
        width: 100%;
        margin-left: -1px;
        border-left: rgb(218, 220, 224) 1px solid;
        border-bottom: rgb(218, 220, 224) 1px solid;
    }

    .cal-header:last-child .cal-header-pin {
        border-right: rgb(218, 220, 224) 1px solid;
        width: calc(100% + 1px);
    }

    .cal-img {
        width: 50%;
        padding-bottom: .75rem;
    }

    .cal-img-button {
        height: 2rem;
    }

    .cal-radio-label {
        align-content: center;
        color: black;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .cal-img-container-warning {
        position: relative;
    }

    .cal-img-container-warning::after {
        content: "⚠️";
        position: absolute;
        top: 0;
        font-size: 2vw;
    }

    .cal-img-container-error {
        position: relative;
    }

    .cal-img-container-error::after {
        content: "❌";
        position: absolute;
        top: .4rem;
        font-size: 1.6vw;
    }

    .cal-broken {
        filter: grayscale(100%);
    }

    .cal-booking {
        position: absolute;
        background-color: #0d6efd;
        border-radius: 3px;
        padding: 2px .25rem;
        margin: 2px;
        left: 0px;
        right: 0px;
        line-height: 1rem;
        touch-action: none;
        overflow: hidden;
    }

    .cal-booking-small {
        padding-top: 0;
    }

    .cal-booking-small div {
        margin-top: -.5px;
    }

    .cal-booking-other {
        background-color: grey;
    }

    .cal-booking-resize {
        cursor: ns-resize;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 15px;
    }

    .cal-first-header {
        width: 8px;
        flex-shrink: 0;
        border-bottom: rgb(218, 220, 224) 1px solid;
    }

    .cal-first-column {
        width: 8px;
        border-right: rgb(218, 220, 224) 1px solid;
    }

    .cal-info {
        display: grid;
        padding: .5rem;
        border-top: rgb(218, 220, 224) 1px solid;
        text-align: center;
    }

    .cal-info-text {
        white-space: nowrap;
    }
</style>

<div class="cal-root" id="vue-root">
    <div class="cal-container cal-header-row">
        <div class="cal-time-column"></div>
        <div class="cal-first-header"></div>
        {% for device in deviceModels %}
            <div class="cal-header" data-bs-toggle="modal" data-bs-target="#problemsModal"
                 @click="deviceClicked({{ device.id }})" title="{{ device.get_type_display }} {{ device.number }}">
                <div class="cal-header-pin"></div>
                <h5 class="text-center {% if device.status == 2 %} cal-broken {% endif %}">#{{ device.number }}</h5>
                <div {% if device.status == 3 %} class="cal-img-container-warning" {% elif device.status == 2 %}
                                                 class="cal-img-container-error" {% endif %}>
                    {% if device.type == 1 %}
                        <img class="cal-img {% if device.status == 2 %} cal-broken {% endif %}"
                             src="{% static 'laundry_room/washing-machine.png' %}">
                    {% else %}
                        <img class="cal-img {% if device.status == 2 %} cal-broken {% endif %}"
                             src="{% static 'laundry_room/tumble-dryer.png' %}">
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="cal-container" id="displayOnMount" style="display: none">
        <div class="cal-column-container"
             @pointerdown="startMove"
             @pointermove="moved"
             @pointerup="endMove"
             @click="onClick"
        >
            <div class="cal-time-column">
                <div class="cal-time-row" v-for="(t, index) in range">
                    <span class="cal-time">
                        <template v-if="index !== 0">[[ formatHour(t) ]]</template></span>
                </div>
            </div>
            <div>
                <div class="cal-time-marker" :style="{top: timeOffset}"></div>
                <div class="cal-time-dot" :style="{top: timeOffset}"></div>
                <div class="cal-row" v-for="(t, index) in range"></div>
            </div>
            <div class="cal-first-column"></div>

            <div class="cal-column" v-for="(device, index) in devices" :data-device-index="index">
                <div class="cal-booking"
                     :class="{'cal-booking-other': booking.person_id != {{ user.person.id }}, 'cal-booking-small': computeDuration(booking) <= 0.5}"
                     v-for="booking in device.bookings"
                     :data-booking-id="booking.id"
                     :style="{top: computeOffset(booking),height: computeHeight(booking),}">
                    <div class="text-white user-select-none">
                        <template v-if="computeDuration(booking) > 0.5">
                            [[ formatHour(booking.start) ]]<br>
                        </template>
                        [[ booking.room ]]
                    </div>
                    <div v-if="booking.person_id == {{ user.person.id }}" class="cal-booking-resize"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cal-info">
        <span class="cal-info-text">Double click to Create/Delete Bookings.</span>
        <span class="cal-info-text">Move/Resize Bookings with Finger/Mouse.</span>
        <span class="cal-info-text">Click on Machines to See/Report Problems.</span>
    </div>

    <div class="modal fade" id="problemsModal" tabindex="-1" aria-labelledby="problemsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="problemsModalLabel">Known problems</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" id="btnradio" value="" v-model="selectedDevice">
                        <label class="btn btn-outline-primary cal-radio-label" for="btnradio">All</label>
                        {% for device in deviceModels %}
                            <input type="radio" class="btn-check" id="btnradio{{ device.id }}" value="{{ device.id }}"
                                   v-model="selectedDevice" autocomplete="off">
                            <label class="btn btn-outline-primary cal-radio-label" for="btnradio{{ device.id }}"
                                   title="{{ device.get_type_display }} {{ device.number }}">
                                #{{ device.number }}
                                {% if device.type == 1 %}
                                    <img class="cal-img-button" src="{% static 'laundry_room/washing-machine.png' %}">
                                {% else %}
                                    <img class="cal-img-button" src="{% static 'laundry_room/tumble-dryer.png' %}">
                                {% endif %}
                            </label>
                        {% endfor %}
                    </div>
                    <table class="table my-3">
                        <thead>
                        <tr>
                            <th scope="col">Device</th>
                            <th scope="col">Message</th>
                            <th scope="col">Fixed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="problem in problems" v-show="!selectedDevice || problem.device_id == selectedDevice">
                            <th scope="row">#[[ problem.device__number ]]</th>
                            <td>[[ problem.message ]]
                                <table v-if="problem.logs" class="ms-2 mt-2">
                                    <tr v-for="log of problem.logs">
                                        <td class="fw-bold pe-1 align-top">[[ log.date ]]</td>
                                        <td>[[ log.message ]]</td>
                                    </tr>
                                </table>
                            </td>
                            <td v-if="problem.fixed" class="text-success">Yes</td>
                            <td v-else class="text-danger">No</td>
                        </tr>
                        <tr v-show="!hasProblems">
                            <th scope="row"></th>
                            <td>[[ deviceStatusText ]]</td>
                            <td></td>
                        </tr>

                        <tr>
                            <th scope="row">

                            </th>
                            <td>
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="problemReport"
                                           v-on:keyup.enter="reportProblem"
                                           :disabled="!selectedDevice">
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" :disabled="!selectedDevice || problemReport.length === 0"
                                        @click="reportProblem">
                                    Report
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
    <div class="toast align-items-center text-bg-warning border-0" role="alert"
         id="toast" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Booking conflicted. Reloaded all bookings.
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>

{{ bookings|json_script:"bookings" }}
{{ devices|json_script:"devices" }}
{{ problems|json_script:"problems" }}
{{ problemLogs|json_script:"problemLogs" }}
{% csrf_token %}

<script type="module">
    import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    function asHours(duration) {
        return duration / 1000 / 60 / 60;
    }

    function addHours(date, hours) {
        const newDate = new Date(date);
        newDate.setMinutes(newDate.getMinutes() + hours * 60);
        return newDate;
    }

    function clamp(number, min, max) {
        return Math.max(min, Math.min(number, max));
    }

    const deviceData = JSON.parse(document.getElementById('devices').textContent);
    const deviceMap = {};
    const deviceIdToIndex = {};
    let index = 0;
    for (let device of deviceData) {
        deviceMap[device.id] = device;
        deviceIdToIndex[device.id] = index;
        index++;
    }
    const startDate = new Date("{{ start_time.isoformat }}");
    const endDate = new Date("{{ end_time.isoformat }}");

    function preprocessBookingData(devices, bookings) {
        const deviceMap = {}; // New device map with reactive objects
        for (let device of devices) {
            device.bookings = [];
            deviceMap[device.id] = device;
        }
        for (let booking of bookings) {
            booking.device_id = booking.device_id ?? booking.device;
            booking.person_id = booking.person_id ?? booking.person;
            booking.start = new Date(booking.start_time);
            booking.duration = asHours(new Date(booking.end_time) - booking.start);
            deviceMap[booking.device_id].bookings.push(booking);
        }
        return bookings;
    }

    const bookingsData = preprocessBookingData(deviceData, JSON.parse(document.getElementById('bookings').textContent));

    const problemsData = JSON.parse(document.getElementById('problems').textContent);
    const problemLogsData = JSON.parse(document.getElementById('problemLogs').textContent);
    const problemsMap = {};
    for (let problem of problemsData) {
        problem.logs = [];
        problemsMap[problem.id] = problem;
    }
    const options = {
        day: '2-digit',
        month: '2-digit',
    };
    const formatter = new Intl.DateTimeFormat('de-DE', options); // Use German locale
    for (let log of problemLogsData) {
        log.date = formatter.format(new Date(log.created_at));
        problemsMap[log.device_problem_id].logs.push(log);
    }
    const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value

    const headers = new Headers();
    headers.append('Content-Type', 'application/json');
    headers.append('X-CSRFToken', csrf_token);

    function bookingToJson(booking) {
        const data = {
            id: booking.id,
            device: booking.device_id,
            room: booking.room,
            start_time: booking.start,
            end_time: addHours(booking.start, booking.duration),
        };
        return JSON.stringify(data)
    }


    function newBookingObject(newStart, newDeviceId) {
        return {
            id: -Math.random(),
            person_id: {{ user.person.id }},
            start: newStart,
            device_id: newDeviceId,
            duration: 1,
            room: "{{ room }}",
        }
    }

    const toast = document.getElementById('toast');
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);

    const timeOptions = {
        hour: '2-digit',
        minute: '2-digit',
    };
    const timeFormatter = new Intl.DateTimeFormat('de-DE', timeOptions); // Use German locale

    createApp({
        compilerOptions: {
            // Because { {  } } is already used by django
            delimiters: ["[[", "]]"]
        },
        data() {
            return {
                message: 'Hello Vue!',
                startDate,
                endDate,
                bookings: bookingsData,
                devices: deviceData,
                problems: problemsData,
                startBooking: null,
                startBounds: null,
                startEvent: null,
                lastClickEvent: null,
                lastClickActionEvent: null,
                touchStartEvent: null,
                startHour: null,
                resizing: false,
                startDuration: 0,
                needsUpdate: false,
                selectedDevice: null,
                problemReport: "",
                currentTime: new Date(),
            }
        },
        computed: {
            range() {
                const dates = [];
                const currentDate = new Date(this.startDate);
                while (currentDate <= this.endDate) {
                    dates.push(new Date(currentDate)); // Push a copy of the current date
                    currentDate.setHours(currentDate.getHours() + 1); // Increment by 1 hour
                }
                return dates;
            },
            hasProblems() {
                if (!this.selectedDevice) {
                    return this.problems.length > 0;
                }
                return this.problems.find(problem => problem.device_id == this.selectedDevice) !== undefined
            },
            deviceStatusText() {
                if (!this.selectedDevice) {
                    return null;
                }
                const status = this.devices.find(dev => dev.id == this.selectedDevice).status;
                if (status === 1) {
                    return "No known Problem 🎉"
                } else if (status === 2) {
                    return "Does not work 🙁"
                } else if (status === 3) {
                    return "Works suboptimal 😐"
                }
            },
            timeOffset() {
                const hours = asHours(this.currentTime - this.startDate);
                return `${hours * 40}px`
            },
        },
        methods: {
            formatHour(date) {
                return timeFormatter.format(date)
            },
            computeDuration(booking) {
                const duration = asHours(addHours(booking.start, booking.duration).getTime() - Math.max(startDate.getTime(), booking.start));
                return Math.max(.5, duration);
            },
            computeHeight(booking) {
                return `${this.computeDuration(booking) * 40 - 4}px`
            },
            computeOffset(booking) {
                const hours = asHours(Math.max(booking.start, this.startDate) - this.startDate);
                return `${hours * 40}px`
            },
            deviceClicked(device) {
                this.selectedDevice = device
            },
            async reportProblem() {
                this.problems.push({
                    message: this.problemReport,
                    device_id: this.selectedDevice,
                    device__number: deviceMap[this.selectedDevice].number,
                    fixed: false,
                })
                const url = '{% url 'device-problems-list' %}';
                await fetch(url, {
                    method: 'POST',
                    headers,
                    body: JSON.stringify({
                        device: this.selectedDevice,
                        message: this.problemReport,
                    }),
                    credentials: 'same-origin',
                });
                this.problemReport = "";
            },
            async createOrUpdateBooking(booking) {
                const isCreate = booking.id <= 0;
                const url = isCreate ? '{% url 'booking-list' %}' : '{% url 'booking-detail' 999 %}'.replace('999', booking.id);
                const response = await fetch(url, {
                    method: isCreate ? 'POST' : 'PUT',
                    headers,
                    body: bookingToJson(booking),
                    credentials: 'same-origin',
                });

                if (response.ok) {
                    const b = await response.json();
                    booking.id = b.id;
                } else {
                    if (response.status === 409) {
                        toastBootstrap.show();
                        const url = '{% url 'booking-list' %}';
                        const response = await fetch(url, {
                            method: 'GET',
                            headers,
                            credentials: 'same-origin',
                        });
                        if (response.ok) {
                            this.bookings = preprocessBookingData(this.devices, await response.json());
                        }
                    } else {
                        const errorData = await response.json();
                        console.error('Error creating booking:', errorData);
                    }
                }
            },
            async deleteBooking(bookingId) {
                const url = '{% url 'booking-detail' 999 %}'.replace('999', bookingId);
                await fetch(url, {
                    method: 'DELETE',
                    headers,
                    credentials: 'same-origin',
                });
            },
            onClick(event) {
                event.preventDefault();
                if (this.lastClickEvent && event.timeStamp - this.lastClickEvent.timeStamp < 500) {
                    if (this.lastClickActionEvent && event.timeStamp - this.lastClickActionEvent.timeStamp < 600) {
                        const xDiff = event.clientX - this.lastClickActionEvent.clientX
                        const yDiff = event.clientY - this.lastClickActionEvent.clientY
                        if (xDiff * xDiff + yDiff * yDiff < 30 * 30) {
                            // Ignore click count > 2 if at same location
                            this.lastClickActionEvent = event;
                            return;
                        }
                    }
                    let target = event.target;
                    const isCalBookingChild = target.classList.contains("cal-booking-resize") || target.classList.contains("text-white");
                    if (target.classList.contains("cal-booking") || isCalBookingChild) {
                        if (isCalBookingChild) {
                            target = target.parentElement;
                        }
                        const bookingId = Number(target.dataset.bookingId);
                        const bookings = this.devices[target.parentElement.dataset.deviceIndex].bookings;
                        const bookingIndex = bookings.findIndex(b => b.id === bookingId);
                        if (bookings[bookingIndex].person_id == {{ user.person.id }}) {
                            bookings.splice(bookingIndex, 1);
                            this.bookings.splice(this.bookings.findIndex(b => b.id === bookingId), 1);
                            this.deleteBooking(bookingId)
                        }
                    } else {
                        const bounds = target.getBoundingClientRect();
                        const y = event.clientY - bounds.top;
                        const newStart = addHours(this.startDate, Math.trunc(y / 20) / 2);
                        const newDeviceIndex = event.target.dataset.deviceIndex;
                        const newDeviceId = this.devices[newDeviceIndex].id;
                        const booking = newBookingObject(newStart, newDeviceId);
                        if (!this.wouldCollide(booking, newStart, newDeviceId, booking.duration)) {
                            this.devices[newDeviceIndex].bookings.push(booking);
                            this.bookings.push(booking);
                            this.createOrUpdateBooking(this.bookings.at(-1));
                        }
                    }
                    this.lastClickActionEvent = event;
                }
                this.lastClickEvent = event;
            },
            startMove(event) {
                const target = event.target;
                let parent = target;
                this.needsUpdate = false;
                this.startEvent = event;
                this.startBounds = target.getBoundingClientRect();
                const hasNoPermissions = (booking) => {
                    if (booking.person_id != {{ user.person.id }}) {
                        this.startEvent = null;
                        this.startBounds = null;
                        return true;
                    }
                    return false;
                };
                if (target.classList.contains("cal-booking-resize")) {
                    parent = target.parentElement.parentElement;
                    const bookingId = Number(target.parentElement.dataset.bookingId);
                    const booking = this.bookings.find(b => b.id === bookingId);
                    if (hasNoPermissions(booking)) {
                        return;
                    }
                    this.startBooking = booking;
                    this.resizing = true;
                    this.startDuration = booking.duration;
                    document.body.style.cursor = 'ns-resize';
                } else if (target.classList.contains("cal-booking")) {
                    parent = target.parentElement;
                    const bookingId = Number(target.dataset.bookingId);
                    const booking = this.bookings.find(b => b.id === bookingId);
                    if (hasNoPermissions(booking)) {
                        return;
                    }
                    this.startBooking = booking;
                    this.startTime = booking.start;
                    this.startDevice = booking.device_id;
                } else {
                    this.startBooking = null;
                }
                parent.setPointerCapture(event.pointerId);
                event.preventDefault();
            },
            endMove() {
                if (this.startBooking && this.needsUpdate) {
                    this.createOrUpdateBooking(this.startBooking)
                }
                this.resizing = false;
                this.startBooking = null;
                this.startDuration = 0;
                document.body.style.cursor = 'default';
            },
            wouldCollide(booking, newStart, newDevice, newDuration) {
                const newEnd = newStart - 0 + newDuration * 60 * 60 * 1000;
                if (newEnd > this.endDate) {
                    return true;
                }
                for (let b of this.bookings) {
                    if (b.device_id === newDevice && b.id !== booking.id) {
                        const bEnd = b.start - 0 + b.duration * 60 * 60 * 1000;
                        if (newStart >= b.start && newStart < bEnd) {
                            return true;
                        }
                        if (newEnd > b.start && newEnd <= bEnd) {
                            return true;
                        }
                        if (newStart <= b.start && newEnd >= bEnd) {
                            return true;
                        }
                    }
                }
                return false;
            },
            moved(event) {
                if (event.buttons) {
                    const x = event.clientX - this.startBounds.left;
                    const diff = event.clientY - this.startEvent.clientY;
                    if (this.resizing) {
                        const newDuration = clamp(this.startDuration + Math.ceil(diff / 20) / 2, 1, 5);
                        if (!this.wouldCollide(this.startBooking, this.startBooking.start, this.startBooking.device_id, newDuration)) {
                            if (this.startBooking.duration !== newDuration) {
                                this.startBooking.duration = newDuration;
                                this.needsUpdate = true;
                            }
                        }
                    } else if (this.startBooking) {
                        let newStart = addHours(this.startTime, Math.trunc(diff / 20) / 2);
                        if (newStart < this.startDate) {
                            newStart = this.startDate;
                        }
                        const x_offset = Math.floor(x / event.target.offsetWidth);
                        const newDeviceIndex = clamp(deviceIdToIndex[this.startDevice] + x_offset, 0, this.devices.length - 1);
                        const newDeviceId = this.devices[newDeviceIndex].id;
                        const booking = this.startBooking;
                        if (!this.wouldCollide(booking, newStart, newDeviceId, booking.duration)) {
                            if (booking.device_id !== newDeviceId) {
                                const bookings = this.devices[deviceIdToIndex[booking.device_id]].bookings;
                                bookings.splice(bookings.findIndex(b => b.id == booking.id), 1);
                                this.devices[newDeviceIndex].bookings.push(booking);
                                booking.device_id = newDeviceId;
                                this.needsUpdate = true;
                            }
                            if (booking.start.getTime() !== newStart.getTime()) {
                                booking.start = newStart;
                                this.needsUpdate = true;
                            }
                        }
                    } else if (diff > 10) {
                        if (event.pointerType === "touch") {
                            return; // No new events while scroll
                        }
                        const y = this.startEvent.clientY - this.startBounds.top;
                        const newStart = addHours(this.startDate, Math.trunc(y / 20) / 2);
                        const newDeviceIndex = event.target.dataset.deviceIndex;
                        const newDeviceId = this.devices[newDeviceIndex].id;
                        const booking = newBookingObject(newStart, newDeviceId);
                        if (!this.wouldCollide(booking, newStart, newDeviceId, booking.duration)) {
                            this.devices[newDeviceIndex].bookings.push(booking);
                            this.bookings.push(booking);
                            this.needsUpdate = true;
                        }
                        this.startBooking = booking;
                        this.startTime = newStart;
                        this.startDevice = newDeviceId;
                        this.resizing = true;
                    }
                    event.preventDefault();
                }
            }
        },
        mounted() {
            setInterval(() => this.currentTime = new Date(), 1000 * 60);
            document.getElementById("displayOnMount").style.display = '';
        }
    }).mount('#vue-root')
</script>
