{% extends "base.html" %}
{% load bootstrap5 %}

{% block content %}
    <h1>Nordigen Requisition Management</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Account Name</th>
            <th>Requisition Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.account.title }}</td>
                <td>{{ item.status_as_text }}</td>
                <td>
                    <form style="display: inline" action="/nordigen/requisition-status/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ item.id }}">
                        <input type="submit" value="Refresh Requisition">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
